{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'client.css' %}"> 
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'sec-inputs.css' %}">
    <style>
      #table thead{
        position: sticky;
        top: 0;
      }
      table thead th {
      cursor: pointer;
   }
   table thead th span{
      position: relative;
   }
   thead th span::after{
   content: '';
  position:absolute;
  left: -18px;
  top: 60%;
  border-style: solid;
  border-top-width: 10px;
  border-right-width: 5px;
  border-left-width: 5px;
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
   }
    </style>
  
  </head>
<body>
  <div class="body-div">
    <div class="window musteriWindow">
       <div class="container">
          <h3 id="musteri-modal" class="modal-kapat">X</h3>
          <div class="title">Müşteri Ekle</div>
          <form id="myForm" action="{% url 'client' %}" method="post">
            {% csrf_token %}
            <div class="user-details"> 
                <div class="input-box" name="CompanyName">
                  <span id="firma_adi_span" class="details">Firma Adı*</span>
                  {{ client_form.CompanyName_Clients }}
                  {% if client_form.CompanyName_Clients.errors %}
                  <div class="error-container">
                      <span class="error-triangle"></span>
                      <ul class="errorlist">
                          {% for error in client_form.CompanyName_Clients.errors %}
                              <li class="error-message">{{ error }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %} 
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">Muhatap</span>
                  {{ client_form.ContactPerson }}
                </div>  
                <div class="input-box" name="CompanyName">
                  <span class="details">Telefon</span>
                  {{ client_form.PhoneNumber }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">E-posta</span>
                  {{ client_form.Email }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">Bölge</span>
                  <div class="dropdown-container">
                    <input autocomplete= 'off' value="{{client_edit.Location}}" type="text" id="id_Location" name="Location" class="myInput" placeholder="Bölge Seçiniz" data-dropdown="dropdown1">
                  <div id="dropdown1" class="dropdown-content">
                        {% for x in locations %}
                            <span value="{{x.id}}" class="dropdown-item">{{x.Location}}</span>
                        {% endfor %}
                  </div>
                </div>
                </div>          
              </div>
              <div class="button">
                  <input id="kaydet_btn" type="submit" value="Kaydet"/>
              </div>
          </form>
       </div>
    </div>

      {% include 'partials/_left_nav_bar.html' %}
      <div class="right-menu"> 
        <div class="top-menu">
          <div class="span-box"><span>MÜŞTERİLER</span></div>
          <div class="content">                      
            <div class="search">
              <div class="icon"></div>
              <div class="input">
                <input id="mysearch" type="text" placeholder="Ara">
            </div>
            <span class="clear" onclick="document.getElementById('mysearch').value = '' "></span>
         </div>   
            <button id="musteri-ac" class="button2" >Müşteri Ekle</button>          
          </div>
        </div>

        <div class="lists">         
          <table id="table" class="table table-sortable">   
            <thead>
              <th></th>              
              <th>Firma Adı</th>              
              <th scope="col">Muhatap</th>
              <th scope="col">Telefon</th>
              <th scope="col">E-posta</th>
              <th scope="col">Bölge</th>
            </thead>  
            <tbody id="tbody">  
              {% for client in clients %}
              <tr>
                  <td><button type="button" class="edit-client-btn button2" style= "background: none; border:none;"><a href= "{% url 'client_edit' client_name=client.CompanyName_Clients %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></button></td>
                  <td>{{ client.CompanyName_Clients }} </td>
                  <td>{{ client.ContactPerson }}</td>
                  <td>{{ client.PhoneNumber }} </td>
                  <td>{{ client.Email }}</td>
                  <td>{{ client.Location }}</td>
              </tr>
              {% endfor %}                                    
            </tbody>
          </table> 
        </div>
      </div>   
  </div>
  {% endblock %}
  {% block js_files %} 
  <script src="{% static 'client.js' %}"></script> 
  <script src="{% static 'functions.js' %}"></script>   
  
  {% endblock %}
