{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'client.css' %}"> 
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'sec-inputs.css' %}">
  </head>
<body>
  <div class="body-div">
    <div class="window musteriWindow">
       <div class="container">
          <h3 id="musteri-modal" class="modal-kapat">X</h3>
          <div class="title">Müşteri Ekle</div>
          <form action="{% url 'client' %}" method="post">
            {% csrf_token %}
            <div class="user-details"> 
                <div class="input-box" name="CompanyName">
                  <span class="details">Firma Adı</span>
                  {{ client_form.CompanyName_Clients }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">Muhatap</span>
                  {{ client_form.ContactPerson }}
                </div>  
                <div class="input-box" name="CompanyName">
                  <span class="details">Telefon</span>
                  {{ client_form.PhoneNumber }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">E-posta</span>
                  {{ client_form.Email }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">Bölge</span>
                  <div class="dropdown-container">
                    <input value="{{client_edit.Location}}" type="text" id="id_Location" name="Location" class="myInput" placeholder="Bölge Seçiniz" data-dropdown="dropdown1">
                  <div id="dropdown1" class="dropdown-content">
                        {% for x in locations %}
                            <span value="{{x.id}}" class="dropdown-item">{{x.Location}}</span>
                        {% endfor %}
                  </div>
                </div>
                </div>          
              </div>
              <div class="button">
                  <input type="submit" value="Kaydet"/>
              </div>
          </form>
       </div>
    </div>

      {% include 'partials/_left_nav_bar.html' %}
      <div class="right-menu"> 
        <div class="top-menu">
          <div class="span-box"><span>MÜŞTERİLER</span></div>
          <div class="content">                      
            <button class="button1">Sırala</button>
            <button class="button1">Filitrele</button>    
            <button id="musteri-ac" class="button2" >Müşteri Ekle</button>          
          </div>
        </div>

        <div class="lists">         
          <table id="table" class="table table-sortable">   
            <thead>
              <th>Firma Adı</th>
              <th scope="col">Muhatap</th>
              <th scope="col">Telefon</th>
              <th scope="col">E-posta</th>
              <th scope="col">Bölge</th>
            </thead>  
            <tbody id="tbody">  
              {% for client in clients %}
              <tr>
                  <td><button type="button" class="edit-client-btn button2" style= "background: none; border:none;"><a href= "{% url 'client_edit' client_name=client.CompanyName_Clients %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></button>{{ client.CompanyName_Clients }} </td>
                  <td>{{ client.ContactPerson }}</td>
                  <td>{{ client.PhoneNumber }} </td>
                  <td>{{ client.Email }}</td>
                  <td>{{ client.Location }}</td>
              </tr>
              {% endfor %}                                    
            </tbody>
          </table>            
        </div>
      </div>   
  </div>
          
  {% block js_files %} 
  <script src="{% static 'client.js' %}"></script> 
  <script>
      document.addEventListener('DOMContentLoaded', function () {
  const inputs = document.querySelectorAll('.myInput');

  inputs.forEach(input => {
    const dropdownId = input.getAttribute('data-dropdown');
    const dropdown = document.getElementById(dropdownId);
    const dropdownItems = dropdown.querySelectorAll('.dropdown-item');

    input.addEventListener('focus', function () {
      dropdown.classList.add('show');
    });

    input.addEventListener('blur', function () {
      setTimeout(() => {
        dropdown.classList.remove('show');
      }, 200);
    });

    input.addEventListener('input', function () {
      const filterText = input.value.toLowerCase();

      dropdownItems.forEach(item => {
        const itemText = item.textContent.toLowerCase();
        if (itemText.startsWith(filterText)) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });
    });

    dropdownItems.forEach(item => {
      item.addEventListener('click', function () {
        input.value = this.textContent;
        dropdown.classList.remove('show');
      });
    });
  });
});
  </script>
  
  {% endblock %}
  {% endblock %}