{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'all_style.css' %}">
<style>

.anket-container{
   height: calc(100vh - 78px);
   overflow: scroll;
}
.anket-title{
   display: flex;
   flex-direction: column;
}
.anket-title .row{
    border-bottom: 1px solid #000;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.anket-title input{
    border: none;
    font-size: 20px;
    font-weight: 300;
}
.anket-title input:focus {
    outline: none;
}
.anket-body{
    display: flex;
    flex-direction: column;
}
.anket-body .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #000;
    height: 90px;
}
.t-row{
    display: flex;
    font-size: 12px;    
   
}
.time-box{
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}
.time-box .t-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time-box .t-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time-box .bottom{
    height: 50%;    
    padding: 5px 0;
    display: flex;
}
.time-box .bottom div:first-child{
   border-right: 1px solid #000;
}
.time-box .bottom p{
    padding: 2px 2px;
}
.time-box .top{
    height: 50%;
    padding: 5px 0;
    border-bottom: 1px solid #000;
}
.border_left{
    border-left: 1px solid #000;
}
.anket-list .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #000;
    height: 50px;
}
.anket-list .row input{
    width: 25%;
}
.row-block{
    width: 100%;
    height: 30px;
    background-color: rgb(247, 164, 10);
    border-bottom: 1px solid #000;
}


.r1{
    width: 50px;
}
.r2{
    width: 600px;
}
.r3{
    width: 240px;
}
.r4{
    width: 190px;
}
.r5{
    width: 300px;
    margin-left: 100px;
}

   /*  Top Menu UL  */
   .top-menu-ul {
  display: flex;
  list-style-type: none;
  color: #8392a5;
}
.top-menu-ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.top-menu-ul li:hover {
  border-bottom: 2px solid #8392a5;
}
.li-hover {
  border-bottom: 2px solid #8392a5;
}
</style>
<!-- inventör tablo -->
<style>
    .inventor_container table{
        width: 100%;
        height: 100%;
    }
.inventor_container span{
    display: inline-block;
    transform: rotate(-90deg);
}
.inventor_container tr{
    border: 1px solid rgba(0, 0, 0, 0.9);
}
.inventor_container td{
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
.inventor_container thead tr:first-child{
    background-color: #707070;
}

.x th{
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 5px;
} 
.y th:not(:first-child){
    border-right: 1px solid rgba(0, 0, 0, 0.9);
}
</style>
{% endblock %}
{% block title %} Projects {% endblock %}
{% block content %}
 <div class="body-div"> 
    
    
    {% include 'partials/_left_nav_bar.html' %}
    <div class="right-menu">
      <div class="top-menu">
            <div class="content">         
                <div style="margin-left: 50px;" class="search active">
                <div class="icon"></div>
                    <div class="input">
                        <input id="mysearch" type="text" placeholder="Ara">
                    </div>
                <span class="clear" onclick="document.getElementById('mysearch').value = '' "></span>
                </div>
            </div>              
            <ul class="top-menu-ul">
                    <li id="bakim_kontrol_listesi">Bakım Kontrol Listesi</li>
                    <li id="santral_takip">Santral Takip</li>
                    <li id="ariza_takip">Arıza Takip</li>
                    <li id="inventör">İnventör</li>
            </ul>                         
            <div class="fonction-butons">
                <a href="{% url 'project_add' %}"><button class="button-project-start" >İnventör</button></a>
            </div>
      </div>
      <div class="anket-container">
         <div class="anket-title">
             <div class="row">
                 <label for="">FİRMA ADI / PROJE ADI :</label>
                 <input type="text">
             </div>
             <div class="row">
                 <label for="">TARİH :</label>
                 <input type="text">
             </div>
         </div>
         <div class="anket-body">
             <div class="row">
                 <span style="width: 50px;">NO</span>
                 <span style="width: 600px;">SÖZLEŞME KAPSAMI OLAN HİZMETİN ADI</span>
                 <span style="width: 240px;">KONTROL METODU</span>
                 <div class="time-box">
                     <div class="t-left">
                         <div class="top">
                             <span>6 AY SONUÇ/<br>6 MONTH RESULT</span>
                         </div>
                         <div class="bottom">
                             <div>
                                 <p>DEĞİL/</p>
                                 <p>NOT OK</p>
                             </div>
                             <div>
                                 <p>DEĞİL/</p>
                                 <p>NOT OK</p>                                 
                             </div>
                         </div>
                     </div>
                     <div class="t-right">
                         <div class="top">
                             <span>1 YIL SONUÇ/<br>1 YEAR RESULT</span>
                         </div>
                         <div class="bottom">
                             <div>
                                 <p>DEĞİL/</p>
                                 <p>NOT OK</p>
                             </div>
                             <div>
                                 <p>DEĞİL/</p>
                                 <p>NOT OK</p>                                 
                             </div>
                         </div>                                             
                     </div>
                 </div>
                 <span style="margin-left: 100px;">NOTLAR/NOTES</span>
             </div>
         </div>
         <div class="anket-list">
             <div class="row">
                 <div class="r1"><span>1.1</span></div>
                 <div class="r2"><label for="">FV panel yüzey temizliği kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>1.2</span></div>
                 <div class="r2"><label for="">FV panel fiziksel kontrolü (Kırıç-Çatlak-hücre Yanığı vs)</label></div>
                 <div class="r3"><span>Görsel + Termal Kamera</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>1.3</span></div>
                 <div class="r2"><label for="">Diziler arası kablo elektriksel bağlantı kontrolü</label></div>
                 <div class="r3"><span>Görsel + Termal Kamera</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>1.4</span></div>
                 <div class="r2"><label for="">Diziler arası kablo terminal bağlantı kontrolü (JUNCTION BOX - KONNEKTÖR)</label></div>
                 <div class="r3"><span>Görsel + Termal Kamera</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>1.5</span></div>
                 <div class="r2"><label for="">Dizlerin açık devre gerilim ölçümü ( PANEL x 40-45V )</label></div>
                 <div class="r3"><span>Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>1.6</span></div>
                 <div class="r2"><label for="">Dizlerin kısa devre akım ölçümü (PANEL DATASHEET 12-13A)</label></div>
                 <div class="r3"><span>Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>2.1</span></div>
                 <div class="r2"><label for="">Çalışan ekipmanların durum kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>2.2</span></div>
                 <div class="r2"><label for="">Tüm bağlantıların kontrol edilmesi (kablo, klemens vida vb.)</label></div>
                 <div class="r3"><span>Görsel + Mek+Termal Kamera</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>2.3</span></div>
                 <div class="r2"><label for="">DC-AC voltaj test ve kontrolü (en düşük ve en yüksek)</label></div>
                 <div class="r3"><span>Görsel +Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>2.4</span></div>
                 <div class="r2"><label for="">Hata kayıtları incelenmesi ve led ekran çalışma kontrolu</label></div>
                 <div class="r3"><span>Görsel ve Yazılım</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>2.5</span></div>
                 <div class="r2"><label for="">Kablo etiketleme kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>2.6</span></div>
                 <div class="r2"><label for="">Giriş ve çıkış fan ızgaralarının ve ilgili filitrelerin kontrolu</label></div>
                 <div class="r3"><span>Görsel ve Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>2.7</span></div>
                 <div class="r2"><label for="">Fanın çalışma ve toz kontrolu</label></div>
                 <div class="r3"><span>Görsel ve Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>3.1</span></div>
                 <div class="r2"><label for="">Kablo yüzey kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>3.2</span></div>
                 <div class="r2"><label for="">Kablo taşıma elemanları bağlantı kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>3.3</span></div>
                 <div class="r2"><label for="">Kablo etiketleme kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>3.4</span></div>
                 <div class="r2"><label for="">Kablo rogarları kontrol - Pano Güzergahı</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>4.1</span></div>
                 <div class="r2"><label for="">Kablo bağlantı terminallerinin kontrolü</label></div>
                 <div class="r3"><span>Görsel + Termal Kamera</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>4.2</span></div>
                 <div class="r2"><label for="">İkaz işaretleri kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>4.3</span></div>
                 <div class="r2"><label for="">Sigorta, parafudur, devre kesicisi vs. kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>4.4</span></div>
                 <div class="r2"><label for="">Su ve toz geçirkenlik kontrolü ve paslanma kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>4.5</span></div>
                 <div class="r2"><label for="">Şalter Bağlantıları kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>5.1</span></div>
                 <div class="r2"><label for="">Topraklama sisteminin genel kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>5.2</span></div>
                 <div class="r2"><label for="">Topraklama iletkenlerinin bağlantı kontrolü, ölçülmesi ve denetlenmesi</label></div>
                 <div class="r3"><span>Görsel ve ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>5.3</span></div>
                 <div class="r2"><label for="">Topraklama direnci ölçümü</label></div>
                 <div class="r3"><span>Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>5.4</span></div>
                 <div class="r2"><label for="">Yıldırımdan koruma sisteminin kontrolu</label></div>
                 <div class="r3"><span>Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>6.1</span></div>
                 <div class="r2"><label for="">Korozyon kontrolü</label></div>
                 <div class="r3"><span>Görsel ve Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>6.2</span></div>
                 <div class="r2"><label for="">Bağlantı noktalarında cıvata gevşeklik kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>6.3</span></div>
                 <div class="r2"><label for="">Panel bağlantı elemanları gevşeklik kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>6.4</span></div>
                 <div class="r2"><label for="">Kolonların temel sağlamlık kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>6.5</span></div>
                 <div class="r2"><label for="">Masalarda dalgalanma kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>6.6</span></div>
                 <div class="r2"><label for="">Panel eğim açısı kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>7.1</span></div>
                 <div class="r2"><label for="">Kamera ve Armatür sağlamlık kontrolleri</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>7.2</span></div>
                 <div class="r2"><label for="">Kamera kapsama alanı ve armatür aydınlık seviyesi kontrolü</label></div>
                 <div class="r3"><span>Görsel + Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>7.3</span></div>
                 <div class="r2"><label for="">Kamera montaj elemanları gevşeklik kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>7.4</span></div>
                 <div class="r2"><label for="">Görüntü kalitesi kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>7.5</span></div>
                 <div class="r2"><label for="">Kamera kayıt sistemi kontrolü</label></div>
                 <div class="r3"><span>Görsel + Yazılım</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>7.6</span></div>
                 <div class="r2"><label for="">Kamera switch bağlantı kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>7.7</span></div>
                 <div class="r2"><label for="">Aydınlatma elektriksel ve mekanik bağlantı kontrolü</label></div>
                 <div class="r3"><span>Görsel + Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>8.1</span></div>
                 <div class="r2"><label for="">Genel Temizlik kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.2</span></div>
                 <div class="r2"><label for="">OG hücre kontrolü (Giriş, Çıkış, Ölçü ve TR Koruma)</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.3</span></div>
                 <div class="r2"><label for="">Orta Gerilim kablo izolasyolasyon kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.4</span></div>
                 <div class="r2"><label for="">Topraklama izolasyolasyon kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.5</span></div>
                 <div class="r2"><label for="">Trafo AG ve OG çıkış gerilimlerinin kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.6</span></div>
                 <div class="r2"><label for="">Trafo sıcaklık kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.7</span></div>
                 <div class="r2"><label for="">Redresör fonksiyon kontrolü</label></div>
                 <div class="r3"><span>Görsel +Ölçü aleti</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>8.8</span></div>
                 <div class="r2"><label for="">Trafo primer ve sekonder bağlantı kontrolü</label></div>
                 <div class="r3"><span>Görsel + Mekanik</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row-block"></div>
 
 
             <div class="row">
                 <div class="r1"><span>9.1</span></div>
                 <div class="r2"><label for="">Yüzey üzerindeki bitkilerin temizlik durumu raporlanması</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>9.2</span></div>
                 <div class="r2"><label for="">Drenaj sistemi kontrol ve temizlik durumu raporlanması</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>9.3</span></div>
                 <div class="r2"><label for="">Saha içi yolların durum raporu</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>9.4</span></div>
                 <div class="r2"><label for="">Yangın tüplerinin kontrolü</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
             <div class="row">
                 <div class="r1"><span>9.5</span></div>
                 <div class="r2"><label for="">Sahadaki atık madde temizliğinin raporlanması</label></div>
                 <div class="r3"><span>Görsel</span></div>
                 <div  class="check-box r4">
                     <input type="checkbox"><input type="checkbox"><input type="checkbox"><input type="checkbox">
                 </div>
                 <div class="r5"><span>Lorem ipsum dolor sit amet.</span></div>
             </div>
         </div>
     </div>
     <div style="display: none;" class="santral_takip_container">
        santral
     </div>
     <div style="display: none;" class="ariza_takip_container">
        arıza takip
     </div>
     <div style="display: none;" class="inventor_container">
        <table style="border-collapse: collapse;">
            <thead>
                <tr class="y">
                    <th colspan="2"></th>
                    <th colspan="3">bölüm 1</th>
                    <th colspan="3">bölüm 2</th>
                </tr>
                <tr class="x">
                    <th>stun 1</th>
                    <th>stun 2</th>
                    <th>stun 3</th>
                    <th>stun 4</th>
                    <th>stun 5</th>
                    <th>stun 6</th>
                    <th>stun 7</th>
                    <th>stun 8</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  rowspan="5"><span>İnventör 1</span></td>
                    <td rowspan="5"><span>Güney</span></td>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                </tr>
                <tr>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                </tr>
                <tr>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                </tr>
                <tr>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                </tr>
                <tr  class="x">
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                    <td>td3</td>
                    <td>td4</td>
                </tr>
            </tbody>
         </table>
     </div>

    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block js_files %} 
<script src="{% static 'functions.js' %}"></script> 
<script src="{% static 'deneme3.js' %}"></script> 

{% endblock %}