{%extends "base.html" %}
{% load static %}

{% block css_files %} 

<link rel="stylesheet" type="text/css" href="{% static 'homee.css' %}"> 
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel="stylesheet" href="{% static 'home_style.css' %}">

<style>
  #table thead th:not(:nth-child(2)), #table tbody td:not(:nth-child(2)){
      text-align: center;
  }
  #table thead th:nth-child(2){
      padding-left: 20px;
  }
  .lists{
      overflow-y: scroll;
  }
  table thead th {
    cursor: pointer;
 }
 table thead th span{
    position: relative;
 }
 thead th span::after{
 content: '';
position:absolute;
left: -18px;
top: 60%;
border-style: solid;
border-top-width: 10px;
border-right-width: 5px;
border-left-width: 5px;
border-color: #000 transparent transparent transparent;
transform: translateY(-50%);
transition: transform 0.3s ease;
 }

</style>
{% endblock %}

{% block title %} Home Page {% endblock %}
{% block content %}   
<div class="body-div">
{% include 'partials/_left_nav_bar.html' %}

<div class="right-menu">
  <div class="up">
    <div style="background-image: url('{% static 'images/main1.png' %}');" class="projeler card_div"></div>
    <div style="background-image: url('{% static 'images/main2.png' %}');" class="sales card_div"></div>
    <div style="background-image: url('{% static 'images/main3.png' %}');" class="stock card_div"></div>
  </div>
  <div class="down">
    <div class="business-maintenance card_div">
      <img src="data:image/png;base64,{{ pie_chart_base64 }}" alt="Pie Chart">
    </div>
    <div class="reporting card_div">
       
      <img src="data:image/png;base64,{{ cash_flow_chart_base64 }}" alt="Cash Flow Chart">
  
    </div> 
    </div>
  </div>
</div>




   
    {% endblock %}

    {% block js_files %} 
  <script src="{% static 'functions.js' %}"></script> 
  <script src="{% static 'home.js' %}"></script> 
  
  
  {% endblock %}