{% extends "base.html" %} {% load static %} {% block css_files %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}"/> -->
<link rel="stylesheet" href="{% static 'details_projects.css' %}" />
<link rel="stylesheet" href="{% static 'center.css' %}" />
<link rel="stylesheet" href="{% static 'all_style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<link rel="stylesheet" href="{% static 'sec-inputs.css' %}" />

<style>
  #paying-firma-add-btn{
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 15px;
  }
</style>
<style>
  .user-details{
    display: flex;
    flex-direction: row;
  }
  .anket_inputs input{
    /* text-align: center; */
    width: 100px;
    border: none;
    outline: none;
  }
</style>

{% endblock %} {% block title %} Project Add {% endblock %} {% block content %}
<div class="body-div">
  {% include 'partials/_left_nav_bar.html' %}
  <div class="right-menu">
    <div class="nav-bar">
      <div class="nav-span">
        <div class="backBtn">
          <a href="{% url 'operation_care_detail' %}">
            <button id="backBtn" class="button-project">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </a>
          <span> </span>
        </div>
        <span></span>
      </div>
    </div>

    <div class="center">
      <div class="container projeBaslatContainer">
        <div class="title">İnventor Ekle</div>
        <form id="my-form" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="form" />

          <div class="user-details">
            <div class="left">
                <table>
                    <thead>
                        <tr>
                          <th>STRG NU</th>
                          <th>PNL GÜCÜ</th>
                          <th>VOC</th>
                          <th>PNL MRK</th>
                          <th>PNL SY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>11</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>15</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>17</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>18</td>
                          <td>545</td>
                          <td>49,65</td>
                          <td>LONGİ</td>
                          <td>26</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="right">
              <table>
                <thead>
                    <tr>
                      <th>İZALASYON</th>
                      <th>TOPLAM V</th>
                      <th>+</th>
                      <th>-</th>
                    </tr>
                </thead>
                <tbody class="anket_inputs">
                    <tr>
                      <td><input type="text" value="OK"></td>
                      <td><input type="text" value="1277"></td>
                      <td><input type="text" value="634,00"></td>
                      <td><input type="text" value="643,00"></td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                    <tr>
                      <td>ok</td>
                      <td>1277</td>
                      <td>634,00</td>
                      <td>643,00</td>
                    </tr>
                </tbody>
            </table>
            </div>
            
          </div>
          <div class="button">
            <input id="project-create-btn" type="submit" value="Proje Ekle" />
          </div>
        </form>
      </div>

      <div class="window clientFirmaAddWindow">
        <div id="firma_container" class="container">
          <h3 id="clientFirmaAdd-modal" class="modal-kapat">X</h3>
          <div class="title">Firma Ekle</div>
          <form id="firma_form" action="{% url 'project_add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="client_form" />

            <div class="user-details">
              <div id="firma_input_box" class="input-box" name="CompanyName_Clients">
                <span id="firma_add_label" class="details">Firma Adı*</span>
                {{ client_form.CompanyName_Clients }}
              </div>
            </div>
            <div class="button">
              <input id="firma_add_btn" type="submit" value="Kaydet" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block js_files %}
  <script src="{% static 'functions.js' %}"></script> 
  <script src="{% static 'project_add.js' %}"></script> 
  {% endblock %} 
</div>
