{% extends "base.html" %}
    {% load static %}
    {% load custom_tags %}

    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'details_projectsss.css' %}">
    <link rel="stylesheet" href="{% static 'center.css' %}">
    <link rel="stylesheet" href="{% static 'sec-inputs.css' %}">

    <style>
      .paying-firma-add-btn {
    margin-left: 7px;
    padding: 0px 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
} 
    </style>
    {% endblock %}
    
    {% block title %} Job History Edit {% endblock %}
    {% block content %} 
<div class="body-div">
    {% include 'partials/_left_nav_bar.html' %}
<div class="right-menu">
    <div class="nav-bar">
        <div class="nav-span">
            <div class="backBtn">
                <a href="{% url 'realized_cost' project_name=jobhistory_edit.ProjectName_JobHistory %}">
                    <button id="backBtn" class="button-project">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
                <span>
                    </span>
            </div>
            <span>{{jobhistory_edit.CompanyName_JobHistory}}</span>
            <span></span>
        </div>
    </div>
    <div class="center">
      <div class="container">
          <div class="title">Yapılan İş Güncelle</div>
          <form id="my-form" action="{% url 'jobhistory_edit' jobhistory_id=jobhistory_edit.id %}" method="post">
            {% csrf_token %}
            <div class="user-details">

              <div style="display:none;" class="input-box" name="ProjectName_JobHistory">
                <span class="details">Proje Adı</span>
                <input  name="ProjectName_JobHistory" value="{{ jobhistory_edit.ProjectName_JobHistory }}">
              </div>
              <div class="input-box">
                <span id="is_yapan_firma_span" class="details">İş Yapan Firma*</span>
                <select name="CompanyName_FromJobMade_JobHistory" id="id_CompanyName_FromJobMade_JobHistory">
                  {% for x in my_company %}
                    {% if jobhistory_edit.CompanyName_FromJobMade_JobHistory == x.MyCompanyName  %}
                      <option value="{{x.id}}" selected>{{ jobhistory_edit.CompanyName_FromJobMade_JobHistory }}</option>
                    {% endif %}
                  {% endfor %}
                  {% for x in my_company %}
                    {% if jobhistory_edit.CompanyName_FromJobMade_JobHistory != x.MyCompanyName  %}
                      <option value="{{x.id}}">{{x.MyCompanyName}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              <div class="input-box " id="CompanyName_Job_JobHistoryInput">
                <span id="is_yapilan_firma_span" class="details">İş Yapılan Firma*</span>
                <div class="dropdown-container">
                    <input autocomplete= 'off' value="{{jobhistory_edit.CompanyName_Job_JobHistory}}" type="text" id="id_CompanyName_Job_JobHistory" name="CompanyName_Job_JobHistory" class="myInput" placeholder="Firma Adını Seçiniz" data-dropdown="dropdown1">
                  <div id="dropdown1" class="dropdown-content">
                        {% for x in supplier %}
                            <span value="{{x.id}}" class="dropdown-item">{{x.CompanyName_Supplier}}</span>
                        {% endfor %}
                  </div>
                </div>
              </div>

              <div class="input-box">
                  <span class="details">Cinsi</span>
                  {{ edit_form.ExpensDetails_JobHistory }}
              </div>
              <div class="input-box">
                  <span class="details">Tutar (₺)</span>
                  <input autocomplete= 'off' class="coc-input" type="text" name="Amount_JobHistory" id="id_Amount_JobHistory" step="0.0001" value="{{jobhistory_edit.Amount_JobHistory}}" placeholder="0.00">
              </div>
              <div class="input-box">
                  <span class="details">Dolar Kuru (₺)</span>
                  {{ edit_form.Dollar_Rate_JobHistory }}
              </div>
              <div class="input-box">
                  <span class="details">Fatura Numarası</span>
                  {{ edit_form.Invoice_No_JobHistory }}
              </div>
              <div class="input-box">
                  <span class="details">Tarih</span>
                  <input 
                  class="coc-input" 
                  id="id_Date_JobHistory" 
                  type="text" 
                  name="Date_JobHistory" 
                  value="{{ jobhistory_edit.Date_JobHistory|date:'Y-m-d' }}" placeholder="01.01.2000"/>
              </div>
              <div class="input-box">
                <span class="details">Kur Saati</span>
                <select name="" id="kur-time">
                  <option value="secenek1">Kur Saati Seçiniz</option>
                  <option value="secenek2">15:30'dan Önce</option>
                  <option value="secenek3">15:30'dan Sonra</option>
                </select>
            </div>
            </div>
            <div class="button">
              <input id="project-create-btn" type="submit" value="Kaydet" />
            </div>
          </form>
      </div>
      
</div>
</div>
{% endblock %} 

  {% block js_files %} 
  <!-- <script src="{% static 'clientt.js' %}"></script>  -->
  <script>
    var inputField = document.querySelector("#id_Date_JobHistory");
    var firmalar = document.querySelectorAll("#dropdown1 .dropdown-item");
            var amountInputForFormat = document.querySelector("#id_Amount_JobHistory");
            var amountInputReformatBtn = document.querySelector("#project-create-btn");
            var form = document.querySelector("#my-form");
            var i1 = document.querySelector("#id_CompanyName_FromJobMade_JobHistory");
            var i2 = document.querySelector("#id_CompanyName_Job_JobHistory");
            var s1 = document.querySelector("#is_yapan_firma_span");
            var s2 = document.querySelector("#is_yapilan_firma_span");
            var submitBool = true;
            var x = true;
            var x1 = true;
            var deger;
            
            amountInputReformatBtn.addEventListener("click", function(event) {
            event.preventDefault();
            var firmaCounta = 0;
            firmalar.forEach(function(firma){
              if(i2.value == firma.textContent){
                firmaCounta += 1;
              }
            });
            if(i1.value == ""){
              s1.style.color = "red";
              s1.style.fontWeight = "700";
              x = false;
           }
           else{
              s1.style.color = "black";
              s1.style.fontWeight = "500";
              x = true;
           }
          if(i2.value == "" || firmaCounta == 0){
              s2.style.color = "red";
              s2.style.fontWeight = "700";
              x1 = false;
           }
           else{
              s2.style.color = "black";
              s2.style.fontWeight = "500";
              x1 = true;
           }
           if(x && x1){
            inputField.value = tarihFormat(inputField.value);
            amountInputForFormat.value = clear(deger);
            form.submit();
           }
            
            });      
            function tarihFormat(tarih) {
      if(tarih.length == 10){
        var parcalar = tarih.split('.');

    var gun = parcalar[0];
    var ay = parcalar[1];
    var yil = parcalar[2];

    var yeniFormat = yil + '-' + ay + '-' + gun;

    return yeniFormat;
      }
      else{
        return "";
      }
    
}   
function tarihReFormat(tarih) {
      if(tarih.length == 10){
        var parcalar = tarih.split('-');

    var yil = parcalar[0];
    var ay = parcalar[1];
    var gun = parcalar[2];

    var yeniFormat = gun + '.' + ay + '.' + yil;

    return yeniFormat;
      }
      else{
        return "";
      }
    
}    
    runEventListeners();
    onPageLoad(amountInputForFormat);
    inputField.value = tarihReFormat(inputField.value);

    function onPageLoad(x) {
        var inputValue = x.value; 
        var clearValue = clear2(inputValue);
        var formatValue = format(clearValue);
        x.value = formatValue;
        deger = formatValue;
    }


    function runEventListeners(){
    amountInputForFormat.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var clearValue = clear(inputValue);
        var formatValue = format(clearValue);
        amountInputForFormat.value = formatValue;
        deger = formatValue;
    });
    }
    function clear(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır   
      if(value != undefined){
        var cleanString = value.replace(/[^0-9.]/g, '');
        return cleanString;    // Çıktı: "123456.789"  
    }else{
        var  cleanString = 0;
        return cleanString;
    }   
    }
    function clear2(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır   
      if(value != undefined){
        var cleanString = value.replace(/,/g, '.');
        return cleanString;    // Çıktı: "123456.789"  
    }else{
        var  cleanString = 0;
        return cleanString;
    }   
    }
    
    function format(number) {
    var indexOfDot = number.indexOf('.');
    
    if (indexOfDot !== -1) {
    var integerPart = number.slice(0, indexOfDot).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    var decimalPart = number.slice(indexOfDot + 1);
    return integerPart + '.' + decimalPart;
    } else {
    var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return formattedNumber; 
    }
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
  const inputs = document.querySelectorAll('.myInput');

  inputs.forEach(input => {
    const dropdownId = input.getAttribute('data-dropdown');
    const dropdown = document.getElementById(dropdownId);
    const dropdownItems = dropdown.querySelectorAll('.dropdown-item');

    input.addEventListener('focus', function () {
      dropdown.classList.add('show');
    });

    input.addEventListener('blur', function () {
      setTimeout(() => {
        dropdown.classList.remove('show');
      }, 200);
    });

    input.addEventListener('input', function () {
      const filterText = input.value.toLowerCase();

      dropdownItems.forEach(item => {
        const itemText = item.textContent.toLowerCase();
        if (itemText.startsWith(filterText)) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });
    });

    dropdownItems.forEach(item => {
      item.addEventListener('click', function () {
        input.value = this.textContent;
        dropdown.classList.remove('show');
      });
    });
  });
});
</script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
                // firma-add-btn butonunu seçin
                var firmaAddBtn = document.getElementById("paying-firma-add-btn-2");

                // clientFirmaAddWindow penceresini seçin
                var clientFirmaAddWindow = document.querySelector(".payingFirmaAddWindow");

                // firma-add-btn butonuna tıklandığında
                firmaAddBtn.addEventListener("click", function() {
                    // clientFirmaAddWindow penceresinin görünürlüğünü değiştir
                    clientFirmaAddWindow.style.display = "flex";
                });

                // clientFirmaAdd-modal (X) butonuna tıklandığında
                var clientFirmaAddModal = document.getElementById("payingFirmaAdd-modal");
                clientFirmaAddModal.addEventListener("click", function() {
                    // clientFirmaAddWindow penceresinin görünürlüğünü gizle
                    clientFirmaAddWindow.style.display = "none";
                });
            });
</script>
<script>
        
  var amountInput = document.querySelector("#id_Amount_JobHistory");    // Alınan miktar
    var kurInput = document.querySelector("#id_Dollar_Rate_JobHistory");  // Dolar kuru
    var dateForKur = document.querySelector("#id_Date_JobHistory");   // Tarih
    var timeForKur = document.querySelector("#kur-time");              // Kur saati
    var buyingValues ; 
    var tarih ;
    
    //**************      KUR HESAPLAMA      ********************
    
    
    var dosyaURL = "{% static 'kur.json' %}";
   //selection seçimine göre yapılacak işlem
          
          timeForKur.addEventListener('change', function () {
              // Seçilen değeri al
              const secilenDeger = timeForKur.value;
             
              // Seçilen değere göre işlem yap
              if (secilenDeger === 'secenek1') {
                  
              } else if (secilenDeger === 'secenek2') {
                  tarih = birGunOncekiTarih(dateForKur.value);
                  console.log(tarih);
                  fetch(dosyaURL)
                  .then(response => response.json())
                  .then(data => {
                    try {
                      // Hedef tarihi kullanarak veriyi filtrele
                      const hedefVeri = data.items.find(item => item.Tarih === tarih);
                
                      if (hedefVeri) {
                        // TP_DK_USD_S alanını konsola yazdır
                        //console.log(hedefVeri.TP_DK_USD_S);
                        kurInput.value = hedefVeri.TP_DK_USD_S
                        console.log(hedefVeri.TP_DK_USD_S);
                      } else {
                        console.log('Belirtilen tarihe ait veri bulunamadı.');
                      }
                    } catch (parseHata) {
                      console.error('JSON parse hatası:', parseHata);
                    }
                  })
                  .catch(err => {
                    console.error('Dosya okuma hatası:', err);
                  });
              ////-----------------------------------------
                      
              } else if (secilenDeger === 'secenek3') {
                //console.log(dateForKur.value);
                  tarih = tarihFormatiniDegistir(dateForKur.value);    
                  console.log(tarih);
                  fetch(dosyaURL)
                  .then(response => response.json())
                  .then(data => {
                    try {
                      // Hedef tarihi kullanarak veriyi filtrele
                      const hedefVeri = data.items.find(item => item.Tarih === tarih);
                
                      if (hedefVeri) {
                        // TP_DK_USD_S alanını konsola yazdır
                        console.log(hedefVeri.TP_DK_USD_S);
                        kurInput.value = hedefVeri.TP_DK_USD_S
                      } else {
                        console.log('Belirtilen tarihe ait veri bulunamadı.');
                      }
                    } catch (parseHata) {
                      console.error('JSON parse hatası:', parseHata);
                    }
                  })
                  .catch(err => {
                    console.error('Dosya okuma hatası:', err);
                  });
              }
          });
    
    
    /******************************       Tarihi Formatlama          ********************************* */
    function tarihFormatiniDegistir(tarih) {
    // Giriş tarihini JavaScript Date objesine çevir
    const dateObj = new Date(tarih);
    dateObj.setDate(dateObj.getDate() + 1);
    if (isWeekend(dateObj)) {
        dateObj.setDate(dateObj.getDate() + 1);
    }

    // Şimdi haftasonu olmayan bir tarihi bulana kadar bir gün geri al
    while (isWeekend(dateObj)) {
        dateObj.setDate(dateObj.getDate() + 1);
    }
    // Yıl, ay ve gün bilgilerini al
    const yil = dateObj.getFullYear();
    const ay = (dateObj.getMonth() + 1).toString().padStart(2, '0'); // Ay değeri 0 ile başlar, 1 ekleyip 2 haneli yap
    const gun = dateObj.getDate().toString().padStart(2, '0'); // Gün değeri 2 haneli yap

    // Yıl, ay ve gün bilgilerini birleştirerek gün-ay-yıl formatında tarihi oluştur
    const yeniFormatliTarih = gun + '-' + ay + '-' + yil;

    return yeniFormatliTarih;
}


/************************************      Tarihten 1 gün çıkarma         *************************************** */

function birGunOncekiTarih(dateString) {
    const dateObj = new Date(dateString);
    dateObj.setDate(dateObj.getDate());

    // Şimdi haftasonu olmayan bir tarihi bulana kadar bir gün geri al
    while (isWeekend(dateObj)) {
        dateObj.setDate(dateObj.getDate() + 1);
    }
    // Yıl, ay ve gün bilgilerini al
    const yil = dateObj.getFullYear();
    const ay = (dateObj.getMonth() + 1).toString().padStart(2, '0');
    const gun = dateObj.getDate().toString().padStart(2, '0');

    // Yıl, ay ve gün bilgilerini birleştirerek yeni formatta tarihi oluştur
    const yeniFormatliTarih = gun + '-' + ay + '-' + yil;

    return yeniFormatliTarih;
}
    
    
    // Haftasonu kontrol fonksiyonu
    function isWeekend(date) {
        const day = date.getDay();
        return day === 0 || day === 6;
    }
 </script>

<script>
  
       
 
    inputField.addEventListener('input', function(event) {
    var userInput = inputField.value;
   
   if (event.inputType !== 'deleteContentBackward') {
     inputField.value = formatDate(userInput);
   }
 });   
 
  function formatDate(date) {
   var cleaned = date.replace(/[^\d+]/g, '');
   var formatted = cleaned;
   var current;
   var day = "31";
   var month = "12";
   var year = "2999";
     
     inputField.maxLength = 10;
       if(formatted.length < 3) {
         if(formatted < day){
           return formatted;
         }
         else{
           return "31";
         }        
       }
       if (formatted.length < 5) {
         if(formatted.slice(2) < month){
           return `${formatted.slice(0,2)}.${formatted.slice(2)}`;  
         }
         else{
           return `${formatted.slice(0,2)}.12`
         }                  
       }
       if (formatted.length < 10) {
         if(formatted.slice(4) < year){
           return `${formatted.slice(0,2)}.${formatted.slice(2,4)}.${formatted.slice(4)}`; 
         }
         else{
           return `${formatted.slice(0,2)}.${formatted.slice(2,4)}.2999`;
         } 
                   
       }  
 }
 </script>
  
  {% endblock %}

  