{% extends "base.html" %}
    {% load static %}

    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'details_projects.css' %}">
    <link rel="stylesheet" href="{% static 'center.css' %}">
    <link rel="stylesheet" href="{% static 'projects_styles.css' %}">
    <link rel="stylesheet" href="{% static 'sec-inputs.css' %}">

    {% endblock %}
    
    {% block title %} Job History Add {% endblock %}
    {% block content %} 
    <div class="body-div">
        {% include 'partials/_left_nav_bar.html' %}
        <div class="right-menu">
            <div class="nav-bar">
                <div class="nav-span">
                    <div class="backBtn">
                        <a href="{% url 'projects' %}">
                            <button id="backBtn" class="button-project">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </a>
                        <span>
                            </span>
                    </div>
                    <span></span>
                </div>
            </div>
            <div class="center">
                <div class="container projeBaslatContainer">
                <div class="title">Yapılan İş Ekle</div>
                <form id="my-form" action="{% url 'jobhistory_add' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="jobhistory_form">
                <div class="user-details">

                  <div class="input-box {% if jobhistory_form.CompanyName_Job_JobHistory.errors %}error{% endif %}" id="CompanyName_Job_JobHistoryInput">
                    <span id="is_yapilan_firma_span" class="details">İş Yapılan Firma*<button type="button" id="paying-firma-add-btn-2" class="paying-firma-add-btn"><i class="fa-solid fa-plus"></i></button></span>
                    <div class="dropdown-container">
                        <input autocomplete= 'off', type="text" id="id_CompanyName_Job_JobHistory" name="CompanyName_Job_JobHistory" class="myInput" placeholder="Firma Adını Seçiniz" data-dropdown="dropdown2">
                        {% if jobhistory_form.CompanyName_Job_JobHistory.errors %}
                                <div class="error-container">
                                    <span class="error-triangle"></span>
                                    <ul class="errorlist">
                                        {% for error in jobhistory_form.CompanyName_Job_JobHistory.errors %}
                                            <li class="error-message">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                      <div id="dropdown2" class="dropdown-content">
                            {% for x in supplier %}
                                <span value="{{x.id}}" class="dropdown-item">{{x.CompanyName_Supplier}}</span>
                            {% endfor %}
                      </div>
                    </div>
                  </div>

                <div class="input-box {% if jobhistory_form.ProjectName_JobHistory.errors %}error{% endif %}" id="ProjectName_JobHistoryInput">
                    <span id="proje_adi_span" class="details">Proje Adı*</span>
                    <div class="dropdown-container">
                      <input autocomplete= 'off' type="text" id="id_ProjectName_JobHistory" name="ProjectName_JobHistory" class="myInput" placeholder="Proje Adını Seçiniz" data-dropdown="dropdown1">
                      {% if jobhistory_form.ProjectName_JobHistory.errors %}
                      <div class="error-container">
                          <span class="error-triangle"></span>
                          <ul class="errorlist">
                              {% for error in jobhistory_form.ProjectName_JobHistory.errors %}
                                  <li class="error-message">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    {% endif %}
                    <div id="dropdown1" class="dropdown-content">
                          {% for x in project %}
                              <span value="{{x.id}}" class="dropdown-item">{{x.ProjectName}}</span>
                          {% endfor %}
                    </div>
                  </div>
                  </div>

                

                <div class="input-box" name="ExpensDetails_JobHistory">
                    <span class="details">Cinsi</span>
                    {{ jobhistory_form.ExpensDetails_JobHistory }}
                </div>
                <div class="input-box" name="Amount_JobHistory">
                    <span class="details">Tutar (₺)</span>
                    <input autocomplete= 'off' class="coc-input" type="text" name="Amount_JobHistory" id="id_Amount_JobHistory" step="0.0001">
                </div>
                <div class="input-box" name="Dollar_Rate_JobHistory">
                    <span class="details">Dolar Kuru (₺)</span>
                    {{ jobhistory_form.Dollar_Rate_JobHistory }}
                </div>
                <div class="input-box">
                    <span class="details">Tarih</span>
                    <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" id="id_Date_JobHistory" type="date" name="Date_JobHistory" min='2000-01-01' max='2099-01-01' />
                </div>
                <div class="input-box" name="Invoice_No_JobHistory">
                    <span class="details">Fatura Numarası</span>
                    {{ jobhistory_form.Invoice_No_JobHistory }}
                </div>
                <div class="input-box">
                    <span class="details">Kur Saati</span>
                    <select name="" id="kur-time">
                        <option value="secenek1">Kur Saati Seçiniz</option>
                        <option value="secenek2">15:30'dan Önce</option>
                        <option value="secenek3">15:30'dan Sonra</option>
                    </select>
                </div>
                    </div>
                        <div class="button">
                        <input id="project-create-btn" type="submit" value="Yapılan İş Ekle" />
                        </div>
                </form>
            </div>

            <div class="window payingFirmaAddWindow">
                <div class="container">
                    <h3 id="payingFirmaAdd-modal" class="modal-kapat">X</h3>
                    <div class="title">Firma Ekle</div>
                <form action="{% url 'jobhistory_add' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="supplier_form">
                        <div class="user-details"> 
                            <div class="input-box" name="CompanyName_Supplier">
                            <span class="details">Firma Adı</span>
                            {{ supplier_form.CompanyName_Supplier }}
                            </div>                        
                    </div>
                        <div class="button">
                            <input type="submit" value="Kaydet">
                        </div>
                </form>
                </div>
            </div>
    
            </div>
    </div>
          
    {% block js_files %} 
        <script src="{% static 'jobhistory_add.js' %}"></script> 
        <!-- <script src="{% static 'index.js' %}"></script>  -->

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // firma-add-btn butonunu seçin
                var firmaAddBtn = document.getElementById("paying-firma-add-btn-2");

                // clientFirmaAddWindow penceresini seçin
                var clientFirmaAddWindow = document.querySelector(".payingFirmaAddWindow");

                // firma-add-btn butonuna tıklandığında
                firmaAddBtn.addEventListener("click", function() {
                    // clientFirmaAddWindow penceresinin görünürlüğünü değiştir
                    clientFirmaAddWindow.style.display = "flex";
                });

                // clientFirmaAdd-modal (X) butonuna tıklandığında
                var clientFirmaAddModal = document.getElementById("payingFirmaAdd-modal");
                clientFirmaAddModal.addEventListener("click", function() {
                    // clientFirmaAddWindow penceresinin görünürlüğünü gizle
                    clientFirmaAddWindow.style.display = "none";
                });
            });


            var amountInputForFormat = document.querySelector("#id_Amount_JobHistory");
            var amountInputReformatBtn = document.querySelector("#project-create-btn");
            var form = document.querySelector("#my-form");
            var i1 = document.querySelector("#id_CompanyName_Job_JobHistory");
            var i2 = document.querySelector("#id_ProjectName_JobHistory");
            var s1 = document.querySelector("#is_yapilan_firma_span");
            var s2 = document.querySelector("#proje_adi_span");
            var submitBool = true;
            var deger;
            
            amountInputReformatBtn.addEventListener("click", function(event) {
            event.preventDefault();
            if(i1.value == ""){
              s1.style.color = "red";
              s1.style.fontWeight = "700";
              submitBool = false;
           }
          if(i2.value == ""){
              s2.style.color = "red";
              s2.style.fontWeight = "700";
              submitBool = false;
           }
           if(submitBool){
            amountInputForFormat.value = clear(deger);
            form.submit();
           }
            
            });             
                
            runEventListeners();
            function runEventListeners(){
            amountInputForFormat.addEventListener("input", function(event) {
                var inputValue = event.target.value;
                var clearValue = clear(inputValue);
                var formatValue = format(clearValue);
                amountInputForFormat.value = formatValue;
                deger = formatValue;
            });
            }
            function clear(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır   
                if(value != undefined){
                var cleanString = value.replace(/[^0-9.]/g, '');
                return cleanString;    // Çıktı: "123456.789"  
            }else{
                var  cleanString = 0;
                return cleanString;
            }    
            }
            
            function format(number) {
            var indexOfDot = number.indexOf('.');
            
            if (indexOfDot !== -1) {
            var integerPart = number.slice(0, indexOfDot).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var decimalPart = number.slice(indexOfDot + 1);
            return integerPart + '.' + decimalPart;
            } else {
            var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return formattedNumber; 
            }
            }

            document.addEventListener('DOMContentLoaded', function () {
  const inputs = document.querySelectorAll('.myInput');

  inputs.forEach(input => {
    const dropdownId = input.getAttribute('data-dropdown');
    const dropdown = document.getElementById(dropdownId);
    const dropdownItems = dropdown.querySelectorAll('.dropdown-item');

    input.addEventListener('focus', function () {
      dropdown.classList.add('show');
    });

    input.addEventListener('blur', function () {
      setTimeout(() => {
        dropdown.classList.remove('show');
      }, 200);
    });

    input.addEventListener('input', function () {
      const filterText = input.value.toLowerCase();

      dropdownItems.forEach(item => {
        const itemText = item.textContent.toLowerCase();
        if (itemText.startsWith(filterText)) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });
    });

    dropdownItems.forEach(item => {
      item.addEventListener('click', function () {
        input.value = this.textContent;
        dropdown.classList.remove('show');
      });
    });
  });
});
        </script> 
        <script>
        
            var amountInput = document.querySelector("#id_Amount_JobHistory");    // Alınan miktar
              var kurInput = document.querySelector("#id_Dollar_Rate_JobHistory");  // Dolar kuru
              var dateForKur = document.querySelector("#id_Date_JobHistory");   // Tarih
              var timeForKur = document.querySelector("#kur-time");              // Kur saati
              var buyingValues ; 
              var tarih ;
              
              //**************      KUR HESAPLAMA      ********************
              
              
              var dosyaURL = "{% static 'kur.json' %}";
              //selection seçimine göre yapılacak işlem
                     
                     timeForKur.addEventListener('change', function () {
                         // Seçilen değeri al
                         const secilenDeger = timeForKur.value;
                        
                         // Seçilen değere göre işlem yap
                         if (secilenDeger === 'secenek1') {
                             
                         } else if (secilenDeger === 'secenek2') {
                             tarih = birGunOncekiTarih(dateForKur.value);
                             console.log(tarih);
                             fetch(dosyaURL)
                             .then(response => response.json())
                             .then(data => {
                               try {
                                 // Hedef tarihi kullanarak veriyi filtrele
                                 const hedefVeri = data.items.find(item => item.Tarih === tarih);
                           
                                 if (hedefVeri) {
                                   // TP_DK_USD_S alanını konsola yazdır
                                   //console.log(hedefVeri.TP_DK_USD_S);
                                   kurInput.value = hedefVeri.TP_DK_USD_S
                                   console.log(hedefVeri.TP_DK_USD_S);
                                 } else {
                                   console.log('Belirtilen tarihe ait veri bulunamadı.');
                                 }
                               } catch (parseHata) {
                                 console.error('JSON parse hatası:', parseHata);
                               }
                             })
                             .catch(err => {
                               console.error('Dosya okuma hatası:', err);
                             });
                         ////-----------------------------------------
                                 
                         } else if (secilenDeger === 'secenek3') {
                           //console.log(dateForKur.value);
                             tarih = tarihFormatiniDegistir(dateForKur.value);    
                             console.log(tarih);
                             fetch(dosyaURL)
                             .then(response => response.json())
                             .then(data => {
                               try {
                                 // Hedef tarihi kullanarak veriyi filtrele
                                 const hedefVeri = data.items.find(item => item.Tarih === tarih);
                           
                                 if (hedefVeri) {
                                   // TP_DK_USD_S alanını konsola yazdır
                                   console.log(hedefVeri.TP_DK_USD_S);
                                   kurInput.value = hedefVeri.TP_DK_USD_S
                                 } else {
                                   console.log('Belirtilen tarihe ait veri bulunamadı.');
                                 }
                               } catch (parseHata) {
                                 console.error('JSON parse hatası:', parseHata);
                               }
                             })
                             .catch(err => {
                               console.error('Dosya okuma hatası:', err);
                             });
                         }
                     });
              
              
              /******************************       Tarihi Formatlama          ********************************* */
              function tarihFormatiniDegistir(tarih) {
    // Giriş tarihini JavaScript Date objesine çevir
    const dateObj = new Date(tarih);
    dateObj.setDate(dateObj.getDate() + 1);
    if (isWeekend(dateObj)) {
        dateObj.setDate(dateObj.getDate() + 1);
    }

    // Şimdi haftasonu olmayan bir tarihi bulana kadar bir gün geri al
    while (isWeekend(dateObj)) {
        dateObj.setDate(dateObj.getDate() + 1);
    }
    // Yıl, ay ve gün bilgilerini al
    const yil = dateObj.getFullYear();
    const ay = (dateObj.getMonth() + 1).toString().padStart(2, '0'); // Ay değeri 0 ile başlar, 1 ekleyip 2 haneli yap
    const gun = dateObj.getDate().toString().padStart(2, '0'); // Gün değeri 2 haneli yap

    // Yıl, ay ve gün bilgilerini birleştirerek gün-ay-yıl formatında tarihi oluştur
    const yeniFormatliTarih = gun + '-' + ay + '-' + yil;

    return yeniFormatliTarih;
}


/************************************      Tarihten 1 gün çıkarma         *************************************** */

function birGunOncekiTarih(dateString) {
    const dateObj = new Date(dateString);
    dateObj.setDate(dateObj.getDate());

    // Şimdi haftasonu olmayan bir tarihi bulana kadar bir gün geri al
    while (isWeekend(dateObj)) {
        dateObj.setDate(dateObj.getDate() + 1);
    }
    // Yıl, ay ve gün bilgilerini al
    const yil = dateObj.getFullYear();
    const ay = (dateObj.getMonth() + 1).toString().padStart(2, '0');
    const gun = dateObj.getDate().toString().padStart(2, '0');

    // Yıl, ay ve gün bilgilerini birleştirerek yeni formatta tarihi oluştur
    const yeniFormatliTarih = gun + '-' + ay + '-' + yil;

    return yeniFormatliTarih;
}
              
              
              // Haftasonu kontrol fonksiyonu
              function isWeekend(date) {
                  const day = date.getDay();
                  return day === 0 || day === 6;
              }
           </script>
  
    {% endblock %}

{% endblock %} 