{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'projects.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'all_style.css' %}">
<link rel="stylesheet" href="{% static 'dist/mc-calendar.min.css' %}" />
<style>
    #table thead th:not(:nth-child(2)), #table tbody td:not(:nth-child(2)){
        text-align: center;
    }
   
    .lists{
        overflow-y: scroll;
    }
    table thead th {
      text-align: center;      
   }
   .active-tab {
    top: 350.5px !important;
  }
   /*  Top Menu UL  */
.top-menu-ul {
  display: flex;
  list-style-type: none;
}
.top-menu-ul li {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.top-menu-ul li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease; 
}

.top-menu-ul li:hover::before {
  width: 100%; 
}
.top-menu-ul .li-hover::before {
  width: 100%; 
}

</style>

{% endblock %}
{% block title %} Operation and Care {% endblock %}
{% block content %}
 <div class="body-div"> 
    
    
    {% include 'partials/_left_nav_bar.html' %}
    <div class="right-menu">
      <main class="table" id="customers_table">
        <section class="table__header">
           
            <ul class="top-menu-ul">
              <li id="isletme_bakim">İşletme Bakım</li>           
              <li id="ariza_takip">Arıza Takip</li> 
              <li id="fatura">Faturalar</li>
            </ul> 
            <div class="export__file">
              <a href="{% url 'fault_notification' %}"><button style="width: 130px; margin-right: 10px;" class="button-project-start" >Arıza Bildir</button></a>
              <a href="{% url 'operation_care_add' %}"><button style="width: 230px;" class="button-project-start" >İşletme-Bakım Başlat</button></a>
            </div>
        </section>
        <section class="table__body">
            <table id="isletme_bakim_table">
                <thead>
                    <tr>
                      <th><span></span></th>
                      <th>Firma Adı<span class="icon-arrow">&UpArrow;</span></th>
                      <th>Tesis Grubu Gücü<span class="icon-arrow">&UpArrow;</span></th>
                      <th >Konum<span class="icon-arrow">&UpArrow;</span></th>
                      <th >Bakım Ücreti<span class="icon-arrow">&UpArrow;</span></th>
                      <th >Arıza Durumu<span class="icon-arrow">&UpArrow;</span></th>
                      <th class="first_sorting_element" >Sonraki Bakım Tarihi<span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                  {% for operation in operations %}
                  <tr>
                    <td>
                        <a href= "{% url 'operation_care_edit' operation_care_id=operation.id %}">
                          <i id="edit-text" class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td><a href="{% url 'operation_care_detail' operation_care_id=operation.id %}">{{operation.Operation_Care_Company}}</a></td>
                    <td>{{operation.Operation_Care_Inventor_Power}}</td>
                    <td>{{operation.Operation_Care_Location}}</td>
                    <td>{{operation.Operation_Care_Cost}}</td>
                    <td>{{operation.Operation_Care_Fail_Number}}</td>
                    {% if operation.Operation_Care_Fail_Number == 0 %}
                    <td><span class="status">{{operation.Operation_Care_Finish_Date}}</span></td>  
                    {% else %}         
                    <td><span class="status">{{operation.Operation_Care_Finish_Date}}</span></td>  
                    {% endif %}         
                  </tr>          
                  {% endfor %}
                </tbody>
            </table>
            <table id="fatura_table" style="display: none;">
              <thead>           
                  <th><span>Santral İsmi</span></th>
                  <th><span>Yapılan İşlem</span></th>
                  <th><span>Açıklama</span></th>
                  <th><span>Tarih</span></th>
                  <th><span>Dosya</span></th>
              </thead>
              <tbody>
                {% for bill in fail_bills %}
  
                <tr>
                  <td>{{bill.Fail_Bill_Central_Name}}</td>
                  <td>{{bill.Fail_Bill_Process}}</td>
                  <td>{{bill.Fail_Bill_Detail}}</td>
                  <td>{{bill.Fail_Bill_Date}}</td>
                  <td>
                  {% if bill.Fail_Bill_File %}
                    <button class="mr-3 blue" onclick="openFile('{{ bill.Fail_Bill_File.url }}')">Faturayı Aç</button> 
                  {% else %}
                  Faruta Bulunamadı
                  {% endif %}
                </td>
                </tr>          
                {% endfor %}
              </tbody>
            </table>
            <table id="ariza_takip_table" style="display: none;">
              <thead>           
                  <th><span></span></th>
                  <th>Santral İsmi<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Arıza Tespit Tarihi<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Arıza<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Ekip Bilgilendirme Tarihi<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Bilgi Verilen Kişi<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Arıza Onarım Tarihi<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Garanti Kapsam Durumu<span class="icon-arrow">&UpArrow;</span></th>
                  <th>Arıza Durumu<span class="icon-arrow">&UpArrow;</span></th>
              </thead>
              <tbody>
                  {% for fail in fails %}
                  <tr>
                    <td><a href="{% url 'fail_edit' fail_id=fail.id %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></td>
                    <td>{{fail.Fail_Central_Name}}</td>
                    <td>{{fail.Fail_Detection_Date}}</td>
                    <td>{{fail.Fail_Detail}}</td>
                    <td>{{fail.Fail_Team_Info_Date}}</td>      
                    <td>{{fail.Fail_Information_Person}}</td>
                    <td>{{fail.Fail_Repair_Date}}</td>      
                    <td>{{fail.Fail_Guaranteed}}</td>
                    <td>{{fail.Fail_Situation}}</td>       
                  </tr>          
                  {% endfor %}    
              </tbody>
            </table>
        </section>
    </main>
  </div>
</div>
{% endblock %}

{% block js_files %} 
<script src="{% static 'functions.js' %}"></script> 
<script src="{% static 'operation_care.js' %}"></script> 

{% endblock %}