{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'all_style.css' %}">
<link rel="stylesheet" href="{% static 'dist/mc-calendar.min.css' %}" />
<style>
    #table thead th:not(:nth-child(2)), #table tbody td:not(:nth-child(2)){
        text-align: center;
    }
    #table thead th:nth-child(2){
        padding-left: 20px;
    }
    .lists{
        overflow-y: scroll;
    }
    table thead th {
      cursor: pointer;
   }
   table thead th span{
      position: relative;
   }
   thead th span::after{
   content: '';
  position:absolute;
  left: -18px;
  top: 60%;
  border-style: solid;
  border-top-width: 10px;
  border-right-width: 5px;
  border-left-width: 5px;
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
   }

   /*  Top Menu UL  */
.top-menu-ul {
  display: flex;
  list-style-type: none;
  color: #8392a5;
}
.top-menu-ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.top-menu-ul li:hover {
  border-bottom: 2px solid #8392a5;
}
.li-hover {
  border-bottom: 2px solid #8392a5;
}

</style>
{% endblock %}
{% block title %} Operation and Care {% endblock %}
{% block content %}
 <div class="body-div"> 
    
    
    {% include 'partials/_left_nav_bar.html' %}
    <div class="right-menu">
        <div class="top-menu">
              <div class="content">         
                <div style="margin-left: 50px;" class="search active">
                    <div class="icon"></div>
                    <div class="input">
                      <input id="mysearch" type="text" placeholder="Ara">
                  </div>
                  <span class="clear" onclick="document.getElementById('mysearch').value = '' "></span>
              </div>
            </div>
            <ul class="top-menu-ul">
              <li id="isletme_bakim">İşletme Bakım</li>           
              <li id="ariza_takip">Arıza Takip</li> 
              <li id="fatura">Faturalar</li>
            </ul> 
            <div class="fonction-butons">
              <a href="{% url 'fault_notification' %}"><button class="button-project-start" >Arıza Bildir</button></a>
              <a href="{% url 'operation_care_add' %}"><button class="button-project-start" >İşletme-Bakım Başlat</button></a>
            </div>
        </div>
        <div style="display: none;" class="lists ariza_takip_container">
        <div class="line"></div>
        <table id="table" class="table table-sortable">
          <thead>           
              <th scope="col"><span>Santral İsmi</span></th>
              <th id="xx2" scope="col"><span>Arıza Tespit Tarihi</span></th>
              <th scope="col"><span>Arıza</span></th>
              <th scope="col"><span>Ekip Bilgilendirme Tarihi</span></th>
              <th scope="col"><span>Bilgi Verilen Kişi</span></th>
              <th scope="col"><span>Arıza Onarım Tarihi</span></th>
              <th scope="col"><span>Garanti Kapsam Durumu</span></th>
              <th scope="col"><span>Arıza Durumu</span></th>
          </thead>
          <tbody>
              {% for fail in fails %}
              <tr>
                <td>{{fail.Fail_Central_Name}}</td>
                <td>{{fail.Fail_Detection_Date}}</td>
                <td>{{fail.Fail_Detail}}</td>
                <td>{{fail.Fail_Team_Info_Date}}</td>      
                <td>{{fail.Fail_Information_Person}}</td>
                <td>{{fail.Fail_Repair_Date}}</td>      
                <td>{{fail.Fail_Guaranteed}}</td>
                <td>{{fail.Fail_Situation}}</td>       
              </tr>          
              {% endfor %}    
          </tbody>
          </table>
        </div>
        <div style="display: none;" class="lists fatura_container">
          <div class="line"></div>
          <table id="table" class="table table-sortable">
            <thead>           
                <th scope="col"><span>Santral İsmi</span></th>
                <th id="xx2" scope="col"><span>Yapılan İşlem</span></th>
                <th scope="col"><span>Açıklama</span></th>
                <th scope="col"><span>Tarih</span></th>
                <th scope="col"><span>Dosya</span></th>
            </thead>
            <tbody>
              {% for bill in fail_bills %}

              <tr>
                <td>{{bill.Fail_Bill_Central_Name}}</td>
                <td>{{bill.Fail_Bill_Process}}</td>
                <td>{{bill.Fail_Bill_Detail}}</td>
                <td>{{bill.Fail_Bill_Date}}</td>
                <td>
                {% if bill.Fail_Bill_File %}
                  <button class="mr-3 blue" onclick="openFile('{{ bill.Fail_Bill_File.url }}')">Faturayı Aç</button> 
                {% else %}
                Faruta Bulunamadı
                {% endif %}
              </td>
              </tr>          
              {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="lists isletme_bakim_container">
            <div class="line"></div>
            <table id="table" class="table table-sortable">
              <thead>           
                <th scope="col"><span></span></th>
                  <th scope="col"><span>Firma Adı</span></th>
                  <th id="xx2" scope="col"><span>Tesis Grubu Gücü</span></th>
                  <th scope="col"><span>Konum</span></th>
                  <th scope="col"><span>Bakım Ücreti</span></th>
                  <th scope="col"><span>Arıza Durumu</span></th>
                  <th scope="col"><span>Sonraki Bakım Tarihi</span></th>
              </thead>
              <tbody>
                {% for operation in operations %}
                <tr>
                  <td>
                    <button type="button" class="edit-project-btn button2" style= "background: none; border:none;">
                      <a href= "{% url 'operation_care_edit' operation_care_id=operation.id %}">
                        <i id="edit-text" class="fa-solid fa-pen-to-square"></i>
                      </a>
                    </button> 
                  </td>
                  <td><a href="{% url 'operation_care_detail' operation_care_id=operation.id %}">{{operation.Operation_Care_Company}}</a></td>
                  <td>{{operation.Operation_Care_Inventor_Power}}</td>
                  <td>{{operation.Operation_Care_Location}}</td>
                  <td>{{operation.Operation_Care_Cost}}</td>
                  <td>{{operation.Operation_Care_Fail_Number}}</td>
                  <td>{{operation.Operation_Care_Finish_Date}}</td>           
                </tr>          
                {% endfor %}
              </tbody>
              </table>
        </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block js_files %} 
<script src="{% static 'functions.js' %}"></script> 
<script src="{% static 'operation_care.js' %}"></script> 

{% endblock %}