{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"t
    />    
    <link rel="stylesheet" type="text/css" href="{% static 'all_style.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'sec-inputs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'center.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'realized_cost.css' %}"> 
   
    {% endblock %}

{% block title %} Realized Cost {% endblock %}
{% block content %}

  <div class="body-div">           
      <div class="firma-bar">
          <div id="title-div">
              <a href="{% url 'home' %}">
                  <span class="first-line">SOVO</span>
                  <span class="second-line">TOZOGLU</span>
              </a>
          </div> 
          <ul id="firmaUl">
              {% for company_name in distinct_company_names %}
                  {% if company_name %}
                      <li id="company-li" class="company-link" data-company="{{ company_name }}">
                        <a>{{ company_name }}</a>
                          <br>
                      </li>
                  {% endif %}
              {% endfor %}
          </ul>      
          <button type="submit" id="toplam-maliyet">Toplam Maliyet</button>
      </div>
      <div class="right-menu">
            <main class="table" id="customers_table">
              <section class="table__header">    
                  <button class="back-button" ><i class="fa-solid fa-angles-left"></i></button> 
                  <button style="width: 137px;" class="button" >Yapılan İş</button>                  
                  <p>TEDARİKÇİLER</p>
                  <button class="button" >Yapılan Ödeme</button>  
                  <div class="input-group">
                    <input type="search" placeholder="Tedarikçi Ara...">
                    <img src="{% static 'images/search.png' %}" alt="">
                </div> 
              </section>
              <section class="table__body">
                  <table id="tedarikci_table">
                      <thead>
                        <tr>
                          <th><span></span></th>
                          <th>Fatura No<span class="icon-arrow">&UpArrow;</span></th>
                          <th>Tarih<span class="icon-arrow">&UpArrow;</span></th>
                          <th>Cinsi<span class="icon-arrow">&UpArrow;</span></th>
                          <th>Tutar(TL)<span class="icon-arrow">&UpArrow;</span></th>
                          <th>Kur<span class="icon-arrow">&UpArrow;</span></th>
                          <th>Tutar(USD)<span class="icon-arrow">&UpArrow;</span></th>
                        </tr>                    
                      </thead> 
                      <tbody>  
                        <tr>
                          <td></td>
                          <td>adsfasdf</td>
                          <td>adsfasdf</td>
                          <td>adsfasdf</td>
                          <td>adsfasdf</td>
                          <td>adsfasdf</td>
                          <td>adsfasdf</td>
                      </tr>   
                      <tr>
                        <td></td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                    </tr>  
                    <tr>
                      <td></td>
                      <td>adsfasdf</td>
                      <td>adsfasdf</td>
                      <td>adsfasdf</td>
                      <td>adsfasdf</td>
                      <td>adsfasdf</td>
                      <td>adsfasdf</td>
                  </tr>                     
                      </tbody>
                  </table>
                  <table id="tedarikci_table">
                    <thead>
                      <tr>
                        <th><span></span></th>
                        <th>Tarih<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Açıklama<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Banka<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Tutar(TL)<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Kur<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Tutar(USD)<span class="icon-arrow">&UpArrow;</span></th>
                      </tr>                    
                    </thead> 
                    <tbody>  
                      <tr>
                        <td></td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                    </tr>   
                    <tr>
                        <td></td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                  </tr>  
                  <tr>
                        <td></td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                        <td>adsfasdf</td>
                </tr>             
                    </tbody>
                </table>           
              </section>
        </main>          

      </div>                  
  </div>

  {% endblock %}

  {% block js_files %}

  <script src="{% static 'functions.js' %}"></script> 
  <script src="{% static 'realized_cost.js' %}"></script> 
  
  
  {% endblock %}


