{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'sales_offer.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.1/Sortable.min.js" integrity="sha512-3N7dD+tlndNxwAC0PwGNWnnEpzHQwgNl6/c9XW6+nqptoMhbI9Rb6kQiUFtYmXrox60oIELVSFAO0dCSfKb2tw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    {% block title %} Sales Offer {% endblock %}
    {% block content %}
  <div class="body-div">
   

  {% include 'partials/_left_nav_bar.html' %}
      <div class="right-menu"> 
        <div class="top-menu">
          <span>Satış Teklif</span>    
          <ul class="top-menu-ul">
            <li id="list">Liste</li>
            <li id="sale_time">Satış Süresi</li>
            <li id="waiting_job">Bekleyen İşler</li>
            <li id="losing_job">Kaybedilen İşler</li>
          </ul> 
          <button> <a href="{% url 'sales_offer_add' %}">Yeni Satış</a></button>
        </div>   
        <div class="main-container">
          <div class="titles">
            <div class="title">
              <p>Potansiyel Müşteri</p>                     
            </div>
            <div class="title">
              <p>Maliyet Hesaplama</p>
            </div>
            <div class="title">
              <p>Fiyat Belirleme</p>
            </div>
            <div class="title">
              <p>Teklif Hazırlama</p>
            </div>
            <div class="title">
              <p>Sunum Sonrası Görüşme</p>
            </div>
            <div class="title">
              <p>Teklif Sunuldu</p>
            </div>
          </div>
          <div class="sales_container">         
                  <div class="rows">    
                    <div class="total-cash">
                      <span>$ {{potential_customers_cost}}</span>
                      <span>({{potential_customers_count}})</span>
                    </div>       
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Potansiyel Müşteri' %}
                    <div class="card" draggable="true">
                      <span class="bold">{{card.Client_Card}}</span>
                      <span>{{card.Offer_Subject_Card}} #{{card.id}} </span>
                      <div class="cash-box">
                        <span class="bold">$ {{card.Cost_NotIncludingKDV_Card}}</span>
                        <span>* * * *</span>
                      </div>                      
                      <span>{{card.Date_Card | date:"d F"}}</span>
                      <span><span class="bold">{{card.Comment_Date_Card | date:"d F"}}:</span> {{card.Offer_Comment_Card}}</span>
                    </div>
                    {% endif %}
                    {% endfor %}

                  </div>
                  <div class="rows">
                    <div class="total-cash">
                      <span>$ {{cost_customers_cost}}</span>
                      <span>({{cost_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Maliyet Hesaplama' %}
                    <div class="card" draggable="true">
                      <span class="bold">{{card.Client_Card}}</span>
                      <span>{{card.Offer_Subject_Card}} #{{card.id}} </span>
                      <div class="cash-box">
                        <span class="bold">$ {{card.Cost_NotIncludingKDV_Card}}</span>
                        <span>* * * *</span>
                      </div>                      
                      <span>{{card.Date_Card | date:"d F"}}</span>
                      <span><span class="bold">{{card.Comment_Date_Card | date:"d F"}}:</span> {{card.Offer_Comment_Card}}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                   
                  </div>
                  <div class="rows">
                    <div class="total-cash">
                      <span>$ {{price_customers_cost}}</span>
                      <span>({{price_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Fiyat Belirleme' %}
                    <div class="card" draggable="true">
                      <span class="bold">{{card.Client_Card}}</span>
                      <span>{{card.Offer_Subject_Card}} #{{card.id}} </span>
                      <div class="cash-box">
                        <span class="bold">$ {{card.Cost_NotIncludingKDV_Card}}</span>
                        <span>* * * *</span>
                      </div>                      
                      <span>{{card.Date_Card | date:"d F"}}</span>
                      <span><span class="bold">{{card.Comment_Date_Card | date:"d F"}}:</span> {{card.Offer_Comment_Card}}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                  </div>
                  <div class="rows">
                    <div class="total-cash">
                      <span>$ {{offer_customers_cost}}</span>
                      <span>({{offer_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Teklif Hazırlama' %}
                    <div class="card" draggable="true">
                      <span class="bold">{{card.Client_Card}}</span>
                      <span>{{card.Offer_Subject_Card}} #{{card.id}} </span>
                      <div class="cash-box">
                        <span class="bold">$ {{card.Cost_NotIncludingKDV_Card}}</span>
                        <span>* * * *</span>
                      </div>                      
                      <span>{{card.Date_Card | date:"d F"}}</span>
                      <span><span class="bold">{{card.Comment_Date_Card | date:"d F"}}:</span> {{card.Offer_Comment_Card}}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="rows">
                    <div class="total-cash">
                      <span>$ {{presentation_customers_cost}}</span>
                      <span>({{presentation_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Sunum Sonrası Görüşme' %}
                    <div class="card" draggable="true">
                      <span class="bold">{{card.Client_Card}}</span>
                      <span>{{card.Offer_Subject_Card}} #{{card.id}} </span>
                      <div class="cash-box">
                        <span class="bold">$ {{card.Cost_NotIncludingKDV_Card}}</span>
                        <span>* * * *</span>
                      </div>                      
                      <span>{{card.Date_Card | date:"d F"}}</span>
                      <span><span class="bold">{{card.Comment_Date_Card | date:"d F"}}:</span> {{card.Offer_Comment_Card}}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="rows">
                    <div class="total-cash">
                      <span>$ {{done_customers_cost}}</span>
                      <span>({{done_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Teklif Sunuldu' %}
                    <div class="card" draggable="true">
                      <span class="bold">{{card.Client_Card}}</span>
                      <span>{{card.Offer_Subject_Card}} #{{card.id}} </span>
                      <div class="cash-box">
                        <span class="bold">$ {{card.Cost_NotIncludingKDV_Card}}</span>
                        <span>* * * *</span>
                      </div>                      
                      <span>{{card.Date_Card | date:"d F"}}</span>
                      <span><span class="bold">{{card.Comment_Date_Card | date:"d F"}}:</span> {{card.Offer_Comment_Card}}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
          
        </div>
        </div>   
        <div class="list-container">
          <div class="lists">
            <table id="table" class="table table-sortable">
               <thead>
                  <th scope="col">Proje Adı</th>
                  <th scope="col">Konum</th>
                  <th scope="col">AC Güç</th>
                  <th scope="col">DC Güç</th>
                  <th scope="col">İş Bedeli</th>
                  <th scope="col">Arazi/Çatı</th>
                  <th scope="col">Tarih</th>
                  <th scope="col">Durum</th>
               </thead>
               <tbody>
                {% for card in sales_offer_card%}
                  <tr>
                    <td> {{card.Offer_Subject_Card}} </td>
                    <td>{{card.Location_Card}}</td>
                    <td>{{card.AC_Power_Card}}</td>
                    <td>{{card.DC_Power_Card}}</td>
                    <td>{{card.Cost_NotIncludingKDV_Card}}</td>
                    <td>{{card.Terrain_Roof_Card}}</td>
                    <td>{{card.Date_Card| date:"d F y"}}</td>
                    <td>{{card.Situation_Card}}</td>
                  </tr>
                  {% endfor %}      
               </tbody>
              </table>
            </div>
        </div>
          
      </div>   
  </div>

{% block js_files %} 
<!-- <script src="{% static 'tedarikcii.js' %}"></script>  -->

<!--      ****  Sürükle Bırak  ****       -->
<script>
  var p = document.querySelectorAll(".card");
  var choice = document.querySelectorAll(".rows");
  var dragItem = null;

  for(var i of p){
      i.addEventListener("dragstart", dragStart);
      i.addEventListener("dragend", dragEnd);
  }

  function dragStart(){
      dragItem = this;
      setTimeout(()=>this.style.display = "none", 0);
  }
  function dragEnd(){            
      setTimeout(()=>this.style.display = "flex", 0);
      dragItem = null;
  }

  for(j of choice){
      j.addEventListener("dragover", dragOver);
      j.addEventListener("dragenter", dragEnter);
      j.addEventListener("dragleave", dragLeave);
      j.addEventListener("drop", Drop);
  }
  function Drop(){
      this.append(dragItem);
      this.style.border = "none"
      this.style.borderRight = "1px solid rgba(0, 0, 0, 0.2)";
  }
  function dragOver(e){
      e.preventDefault();
      this.style.border = "2px solid rgba(0, 0, 0, 0.3)"
  }
  function dragEnter(e){
      e.preventDefault();
  }
  function dragLeave(){
      this.style.border = "none"
      this.style.borderRight = "1px solid rgba(0, 0, 0, 0.2)";
  }
</script>
<script>
  // JavaScript kullanarak tıklanan elemana "clicked" sınıfını ekleyen fonksiyon
  document.addEventListener("DOMContentLoaded", function () {
    var menuItems = document.querySelectorAll(".top-menu-ul li");

    // İlk li elemanına otomatik olarak tıklama gerçekleştir
    menuItems[0].click();

    menuItems.forEach(function (item) {
        item.addEventListener("click", function () {
            // Tıklanan öğeye "li-hover" sınıfını ekleyin
            menuItems.forEach(function (item) {
                item.classList.remove("li-hover");
            });
            this.classList.add("li-hover");
        });
    });
});
</script>
<!-- Top Menu -->
<script>

  let maniContainer = document.querySelector(".main-container");
  let listContainer = document.querySelector(".list-container");


 document.addEventListener("DOMContentLoaded", function () {
    var listItems = document.querySelectorAll(".top-menu-ul li");

    listItems.forEach(function (item) {
        item.addEventListener("click", function () {
            // Tıklanan öğenin id'sini al
            var clickedItemId = this.id;

            // Fonksiyonu çağır ve tıklanan id'yi parametre olarak geç
            handleMenuItemClick(clickedItemId);
        });
    });

    // Tıklanan öğeye göre çalışacak fonksiyon
    function handleMenuItemClick(clickedItemId) {
        switch (clickedItemId) {
            case "list":
                listContainer.style.display = "flex";
                maniContainer.style.display = "none";
                break;
            case "sale_time":
                break;
            case "waiting_job":
                listContainer.style.display = "none";
                maniContainer.style.display = "flex";
                break;
            case "losing_job":
                break;
            default:
                console.log("Bilinmeyen öğe tıklandı!");
                break;
        }
    }
});


</script>

{% endblock %}
{% endblock %}