{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'sales_offerr.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.1/Sortable.min.js" integrity="sha512-3N7dD+tlndNxwAC0PwGNWnnEpzHQwgNl6/c9XW6+nqptoMhbI9Rb6kQiUFtYmXrox60oIELVSFAO0dCSfKb2tw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    {% block title %} Sales Offer {% endblock %}
    {% block content %}
  <div class="body-div">
   

  {% include 'partials/_left_nav_bar.html' %}
      <div class="right-menu"> 
        <div class="top-menu">
          <span>Satış Teklif</span>    
          <ul class="top-menu-ul">
            <li id="list">Liste</li>
            <li id="sale_time">Satış Süresi</li>
            <li id="waiting_job">Bekleyen İşler</li>
            <li id="losing_job">Kaybedilen İşler</li>
          </ul> 
          <button> <a href="{% url 'sales_offer_add' %}">Yeni Satış</a></button>
        </div>   
        <div class="main-container">
          <div class="titles">
            <div class="title">
              <p>Potansiyel Müşteri</p>                     
            </div>
            <div class="title">
              <p>Maliyet Hesaplama</p>
            </div>
            <div class="title">
              <p>Fiyat Belirleme</p>
            </div>
            <div class="title">
              <p>Teklif Hazırlama</p>
            </div>
            <div class="title">
              <p>Sunum Sonrası Görüşme</p>
            </div>
            <div class="title">
              <p>Teklif Sunuldu</p>
            </div>
          </div>
          <div class="sales_container">         
                  <div class="rows" data-situation="Potansiyel Müşteri">    
                    <div class="total-cash">
                      <span>$ {{potential_customers_cost}}</span>
                      <span>({{potential_customers_count}})</span>
                    </div>       
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Potansiyel Müşteri' %}
                    <div class="card" draggable="true" data-situation="{{ card.Situation_Card }}">
                      <p class="bold">{{card.Client_Card}}</p>
                      <p>{{card.Offer_Subject_Card}} #({{card.id}}) </p>
                      <div class="boxes">
                        <p>$ {{card.Cost_NotIncludingKDV_Card}}</p>
                        <p>{{card.UnitCost_NotIncludingKDV}} USD/kWp</p>
                      </div>   
                      <div class="boxes">             
                      <p>{{card.DC_Power_Card}}kWp</p>
                      <p>{{card.Terrain_Roof_Card}}</p>
                    </div>
                  </div>

                    {% endif %}
                    {% endfor %}

                  </div>
                  <div class="rows" data-situation="Maliyet Hesaplama">
                    <div class="total-cash">
                      <span>$ {{cost_customers_cost}}</span>
                      <span>({{cost_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Maliyet Hesaplama' %}
                    <div class="card" draggable="true" data-situation="{{ card.Situation_Card }}">
                      <p class="bold">{{card.Client_Card}}</p>
                      <p>{{card.Offer_Subject_Card}} #({{card.id}}) </p>
                      <div class="boxes">
                        <p>$ {{card.Cost_NotIncludingKDV_Card}}</p>
                        <p>{{card.UnitCost_NotIncludingKDV}} USD/kWp</p>
                      </div>   
                      <div class="boxes">             
                      <p>{{card.DC_Power_Card}}kWp</p>
                      <p>{{card.Terrain_Roof_Card}}</p>
                    </div>
                  </div>
                    {% endif %}
                    {% endfor %}
                   
                  </div>
                  <div class="rows" data-situation="Fiyat Belirleme">
                    <div class="total-cash">
                      <span>$ {{price_customers_cost}}</span>
                      <span>({{price_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Fiyat Belirleme' %}
                    <div class="card" draggable="true" data-situation="{{ card.Situation_Card }}">
                      <p class="bold">{{card.Client_Card}}</p>
                      <p>{{card.Offer_Subject_Card}} #({{card.id}}) </p>
                      <div class="boxes">
                        <p>$ {{card.Cost_NotIncludingKDV_Card}}</p>
                        <p>{{card.UnitCost_NotIncludingKDV}} USD/kWp</p>
                      </div>   
                      <div class="boxes">             
                      <p>{{card.DC_Power_Card}}kWp</p>
                      <p>{{card.Terrain_Roof_Card}}</p>
                    </div>
                  </div>
                    {% endif %}
                    {% endfor %}
                    
                  </div>
                  <div class="rows" data-situation="Teklif Hazırlama">
                    <div class="total-cash">
                      <span>$ {{offer_customers_cost}}</span>
                      <span>({{offer_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Teklif Hazırlama' %}
                    <div class="card" draggable="true" data-situation="{{ card.Situation_Card }}">
                      <p class="bold">{{card.Client_Card}}</p>
                      <p>{{card.Offer_Subject_Card}} #({{card.id}}) </p>
                      <div class="boxes">
                        <p>$ {{card.Cost_NotIncludingKDV_Card}}</p>
                        <p>{{card.UnitCost_NotIncludingKDV}} USD/kWp</p>
                      </div>   
                      <div class="boxes">             
                      <p>{{card.DC_Power_Card}}kWp</p>
                      <p>{{card.Terrain_Roof_Card}}</p>
                    </div>
                  </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="rows" data-situation="Sunum Sonrası Görüşme">
                    <div class="total-cash">
                      <span>$ {{presentation_customers_cost}}</span>
                      <span>({{presentation_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Sunum Sonrası Görüşme' %}
                    <div class="card" draggable="true" data-situation="{{ card.Situation_Card }}">
                      <p class="bold">{{card.Client_Card}}</p>
                      <p>{{card.Offer_Subject_Card}} #({{card.id}}) </p>
                      <div class="boxes">
                        <p>$ {{card.Cost_NotIncludingKDV_Card}}</p>
                        <p>{{card.UnitCost_NotIncludingKDV}} USD/kWp</p>
                      </div>   
                      <div class="boxes">             
                      <p>{{card.DC_Power_Card}}kWp</p>
                      <p>{{card.Terrain_Roof_Card}}</p>
                    </div>
                  </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="rows" data-situation="Teklif Sunuldu">
                    <div class="total-cash">
                      <span>$ {{done_customers_cost}}</span>
                      <span>({{done_customers_count}})</span>
                    </div> 
                    {% for card in sales_offer_card %}
                    {%if card.Situation_Card == 'Teklif Sunuldu' %}
                    <div class="card" draggable="true" data-situation="{{ card.Situation_Card }}">
                      <p class="bold">{{card.Client_Card}}</p>
                      <p>{{card.Offer_Subject_Card}} #({{card.id}}) </p>
                      <div class="boxes">
                        <p>$ {{card.Cost_NotIncludingKDV_Card}}</p>
                        <p>{{card.UnitCost_NotIncludingKDV}} USD/kWp</p>
                      </div>   
                      <div class="boxes">             
                      <p>{{card.DC_Power_Card}}kWp</p>
                      <p>{{card.Terrain_Roof_Card}}</p>
                    </div>
                  </div>
                    {% endif %}
                    {% endfor %}
                  </div>
          
        </div>
        </div>   
        <div class="list-container">
          <div class="lists">
            <table id="table" class="table table-sortable">
               <thead>
                  <th scope="col">Proje Adı</th>
                  <th scope="col">Konum</th>
                  <th scope="col">AC Güç</th>
                  <th scope="col">DC Güç</th>
                  <th scope="col">İş Bedeli</th>
                  <th scope="col">Arazi/Çatı</th>
                  <th scope="col">Tarih</th>
                  <th scope="col">Durum</th>
               </thead>
               <tbody>
                {% for card in sales_offer_card%}
                  <tr>
                    <td> {{card.Offer_Subject_Card}} </td>
                    <td>{{card.Location_Card}}</td>
                    <td>{{card.AC_Power_Card}}</td>
                    <td>{{card.DC_Power_Card}}</td>
                    <td>{{card.Cost_NotIncludingKDV_Card}}</td>
                    <td>{{card.Terrain_Roof_Card}}</td>
                    <td>{{card.Date_Card| date:"d F y"}}</td>
                    <td>{{card.Situation_Card}}</td>
                  </tr>
                  {% endfor %}      
               </tbody>
              </table>
            </div>
        </div>
          
      </div>   
  </div>

{% block js_files %} 
<!-- <script src="{% static 'tedarikcii.js' %}"></script>  -->
<!-- Elementler -->
<script>
  let rows = document.querySelectorAll(".rows");
  </script>
  <!-- Functions -->
  <script>
    function formatNumber(number) {
      return new Intl.NumberFormat('en-US', { minimumFractionDigits:2 , maximumFractionDigits: 2 }).format(number.toFixed(2));
    }
  </script>
  <!--      ****  Sürükle Bırak  ****       -->
  <script>
    var p = document.querySelectorAll(".card");
    var choice = document.querySelectorAll(".rows");
    var dragItem = null;
  
    for(var i of p){
        i.addEventListener("dragstart", dragStart);
        i.addEventListener("dragend", dragEnd);
    }
  
    function dragStart(){
        dragItem = this;
        setTimeout(()=>this.style.display = "none", 0);
    }
    function dragEnd(){            
        setTimeout(()=>this.style.display = "flex", 0);
        dragItem = null;
        cardFormat();
    }
  
    for(j of choice){
        j.addEventListener("dragover", dragOver);
        j.addEventListener("dragenter", dragEnter);
        j.addEventListener("dragleave", dragLeave);
        j.addEventListener("drop", Drop);
    }
      function Drop() {
        this.append(dragItem);
        this.style.border = "none"
        this.style.borderRight = "1px solid rgba(0, 0, 0, 0.2)";
        var targetRowSituation = this.dataset.situation;
        // Get the card ID from the dragged item
        var cardId = dragItem.dataset.cardId;

        // Make an AJAX request to update the card's situation
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'update_card_situation' %}", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Update the card's situation on the client side
                dragItem.dataset.situation = targetRowSituation;
            }
        };

        xhr.send(JSON.stringify({ card_id: cardId, new_situation: targetRowSituation }));
    }
    
    function dragOver(e){
        e.preventDefault();
        this.style.border = "2px solid rgba(0, 0, 0, 0.3)"
    }
    function dragEnter(e){
        e.preventDefault();
    }
    function dragLeave(){
        this.style.border = "none"
        this.style.borderRight = "1px solid rgba(0, 0, 0, 0.2)";
    }
  </script>
  <script>
    // JavaScript kullanarak tıklanan elemana "clicked" sınıfını ekleyen fonksiyon
    document.addEventListener("DOMContentLoaded", function () {
      var menuItems = document.querySelectorAll(".top-menu-ul li");
  
      // İlk li elemanına otomatik olarak tıklama gerçekleştir
      menuItems[0].click();
  
      menuItems.forEach(function (item) {
          item.addEventListener("click", function () {
              // Tıklanan öğeye "li-hover" sınıfını ekleyin
              menuItems.forEach(function (item) {
                  item.classList.remove("li-hover");
              });
              this.classList.add("li-hover");
          });
      });
  });
  </script>
  <!-- Top Menu -->
  <script>
  
    let maniContainer = document.querySelector(".main-container");
    let listContainer = document.querySelector(".list-container");
  
  
   document.addEventListener("DOMContentLoaded", function () {
      var listItems = document.querySelectorAll(".top-menu-ul li");
  
      listItems.forEach(function (item) {
          item.addEventListener("click", function () {
              // Tıklanan öğenin id'sini al
              var clickedItemId = this.id;
  
              // Fonksiyonu çağır ve tıklanan id'yi parametre olarak geç
              handleMenuItemClick(clickedItemId);
          });
      });
  
      // Tıklanan öğeye göre çalışacak fonksiyon
      function handleMenuItemClick(clickedItemId) {
          switch (clickedItemId) {
              case "list":
                  listContainer.style.display = "flex";
                  maniContainer.style.display = "none";
                  break;
              case "sale_time":
                  break;
              case "waiting_job":
                  listContainer.style.display = "none";
                  maniContainer.style.display = "flex";
                  break;
              case "losing_job":
                  break;
              default:
                  console.log("Bilinmeyen öğe tıklandı!");
                  break;
          }
      }
  });
  
  
  </script>
  <!-- Toplama İşlemleri -->
  <script>
    
    cardFormat();
  
    function cardFormat(){
    
    rows.forEach(function(row) {
      let cards = row.querySelectorAll(".card");
      let totalCashSpan = row.querySelector('.total-cash span:nth-child(1)');
      let customersCountSpan = row.querySelector('.total-cash span:nth-child(2)');
      let totalCash = 0;
  
      cards.forEach(function(card){    
        let USDSpan =   card.querySelector(".boxes:first-of-type p:first-of-type");
        let unitSpan = card.querySelector(".boxes:first-of-type p:nth-of-type(2)");
        let currentUSD = parseFloat(USDSpan.textContent.replace(/[^\d.-]/g, ''));
        let currentUnit = parseFloat(unitSpan.textContent.replace(',', '.').replace(/[^\d,.-]/g, ''))
  
        USDSpan.textContent ="$" + formatNumber(currentUSD);
        unitSpan.textContent =formatNumber(currentUnit) + " USD/kWp";
  
  
        totalCash += currentUSD;
      });
    
      totalCashSpan.textContent ="$" + formatNumber(totalCash);
      customersCountSpan.textContent = `(${String(cards.length)})`;
      
    //console.log(String(cards.length));
    });
  
  }
  
  </script>
  

{% endblock %}
{% endblock %}