{% extends "base.html" %} {% load static %} {% block css_files %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}"/> -->
<link rel="stylesheet" href="{% static 'details_projects.css' %}" />
<link rel="stylesheet" href="{% static 'center.css' %}" />
<link rel="stylesheet" href="{% static 'projects_styles.css' %}" />
<link rel="stylesheet" href="{% static 'all_style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel="stylesheet" href="{% static 'sec-inputs.css' %}" />
<style>
  
  input[type="file"] {
    cursor: pointer !important;
    font: 300 14px sans-serif;
    color:#9e9e9e;
    width: 0px !important;
  }
  input[type="file"]::-webkit-file-upload-button
  {
    font: 300 14px  sans-serif;
    background: linear-gradient(135deg, #71b7e6, #191970);
    border: 0;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
  
  input[type="file"]::-ms-browse {
    font: 300 14px 'Roboto', sans-serif;
    background: linear-gradient(135deg, #71b7e6, #191970);
    border: 0;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }

/* Stilize edilmiş düğme görünümü */
.input-box label {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
</style>
<style>
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 49%;
    font-size: 12px;
    /* 20px */
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
    /* 10px 20px */
}



.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.inputfile-1 + label {
    color: #f1e5e6;
    background: linear-gradient(135deg, #71b7e6, #191970);
}
.inputfile-2 + label {
    color: #f1e5e6;
    background: linear-gradient(135deg, #71b7e6, #191970);
}


</style>
{% endblock %} {% block title %} Sales Offer Add {% endblock %} {% block content %}
<div class="body-div">
  {% include 'partials/_left_nav_bar.html' %}
  <div class="right-menu">
    <div class="nav-bar">
      <div class="nav-span">
        <div class="backBtn">
          <a href="{% url 'sales_offer' %}">
            <button id="backBtn" class="button-project">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </a>
          <span> </span>
        </div>
        <span></span>
      </div>
    </div>
    <div class="center">
      <div class="container projeBaslatContainer">
        <div class="title">Satış Teklifi Ekle</div>
        <form id="my-form" action="{% url 'sales_offer_add' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="sales_form" value="sales_form" />

          <div class="user-details">

           <div class="input-box {% if sales_form.Client_Card_Copy.errors %}error{% endif %}" id="Client_Card_Copy">
              <span id="firma_adi_span" class="details">Firma Adı*<button type="button" id="paying-firma-add-btn" class="paying-firma-add-btn">
                  <i class="fa-solid fa-plus"></i></button></span>
              <div class="dropdown-container">
                <input autocomplete= 'off' type="text" id="id_Client_Card_Copy" name="Client_Card_Copy" class="myInput" placeholder="Firma Adını Seçiniz" data-dropdown="dropdown1"/>
                {% if sales_form.Client_Card.errors %}
                <div class="error-container">
                  <span class="error-triangle"></span>
                  <ul class="errorlist">
                    {% for error in sales_form.Client_Card_Copy.errors %}
                    <li class="error-message">{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
                <div id="dropdown1" class="dropdown-content">
                  {% for x in client %}
                  <span value="{{x.id}}" class="dropdown-item"
                    >{{x.CompanyName_Clients}}</span
                  >
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="input-box">
              <span id="ilgilenen_kisi_span" class="details">İlgilenen Kişi*</span>
                <input autocomplete= 'off' type="text" class="" placeholder="İlgilenen Kişi" id="id_Person_Deal" name="Person_Deal"/>
              </div>
            <div class="input-box">
              <span id="konum_span" class="details">Konum*</span>
              <div class="dropdown-container">
                <input type="text" id="id_Location_Card" name="Location_Card" class="myInput" placeholder="Konum Seçiniz" data-dropdown="dropdown2" autocomplete="off"/>
                <div id="dropdown2" class="dropdown-content">
                  {% for x in locations %}
                  <span value="{{x.id}}" class="dropdown-item"
                    >{{x.Location}}</span
                  >
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="input-box">
              <span class="details">Teklif Bedeli - KDV Hariç ($)</span>
              <input class="coc-input" type="text" name="Offer_Cost_NotIncludingKDV_Card" id="id_Offer_Cost_NotIncludingKDV_Card" step="0.01" autocomplete="off" placeholder="0.00"/>
            </div>
            <div class="input-box">
              <span class="details">Birim Teklif</span>
              <input class="coc-input" type="text" name="UnitOffer_NotIncludingKDV" id="id_UnitOffer_NotIncludingKDV" step="0.01" autocomplete="off" placeholder="0.00"/>

            </div>
            <div class="input-box">
              <span class="details">AC Güç (kWe)</span>
              <input class="coc-input" type="text" name="AC_Power_Card" id="id_AC_Power_Card" step="1" autocomplete="off" placeholder="0.00"/>
            </div>
            <div class="input-box">
              <span class="details">Toplam Maliyet</span>
              <input class="coc-input" type="text" name="Cost_NotIncludingKDV_Card" id="id_Cost_NotIncludingKDV_Card" step="1" autocomplete="off" placeholder="0.00"/>
            </div>
            <div class="input-box">
              <span class="details">Birim Maliyet - KDV Hariç ($)</span>
              <input class="coc-input" type="text" name="UnitCost_NotIncludingKDV" id="id_UnitCost_NotIncludingKDV" step="0.01" autocomplete="off" placeholder="0.00"/>
            </div>
            <div class="input-box">
              <span class="details">DC Güç (kWp)</span>
              <input class="coc-input" type="text" name="DC_Power_Card" id="id_DC_Power_Card" step="1" autocomplete="off" placeholder="0.00"/>
            </div>
            <div class="input-box">
              <span class="details">Durumu</span>
              {{sales_form.Situation_Card}}
            </div>
            <div class="input-box">
              <span class="details">Yorum</span>
              {{sales_form.Offer_Comment_Card}}
            </div>
            <div class="input-box">
              <span class="details">Tarih</span>
              <input id="tarih" type="text" name="Date_Card" placeholder="01.01.2000" />
            </div> 
            <div class="input-box">
              <span class="details">ilgili Kişi</span>
              <input class="coc-input" type="text" name="Person_Related" id="id_Person_Related" autocomplete="off" placeholder="İlgili Kişi"/>
            </div> 
            <div class="input-box">
              <span class="details">Arazi/Çatı</span>
              {{sales_form.Terrain_Roof_Card}}
            </div>         
            
            <div style="display: block;" class="input-box">
              <span style="display: none;" class="details arazi-span">Arazi Bedeli(MW)</span>
              <input style="display: none;" class="coc-input" type="text" name="Roof_Cost_Card" id="id_Roof_Cost_Card" step="1" autocomplete="off" placeholder="0.00"/>
            </div>    
               
            <div class="input-box">
              <span class="details">Teklif Dosyası</span>
              <input type="file" name="Offer_File_Card" id="id_Offer_File_Card_1" class="inputfile inputfile-1" />
              <label for="id_Offer_File_Card_1">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> 
                <span>Teklif 1 Dosyası seçin</span></label>
              <input type="file" name="Offer_File_Card_2" id="id_Offer_File_Card_2" class="inputfile inputfile-1" />
              <label style="display: none;" for="id_Offer_File_Card_2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Teklif 2 Dosyası seçin</span></label>
              <input type="file" name="Offer_File_Card_3" id="id_Offer_File_Card_3" class="inputfile inputfile-1" />
              <label style="display: none;" for="id_Offer_File_Card_3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Teklif 3 Dosyası seçin</span></label>
              <input type="file" name="Offer_File_Card_4" id="id_Offer_File_Card_4" class="inputfile inputfile-1" />
              <label style="display: none;" for="id_Offer_File_Card_4"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Teklif 4 Dosyası seçin</span></label>
              <input type="file" name="Offer_File_Card_5" id="id_Offer_File_Card_5" class="inputfile inputfile-1" />
              <label style="display: none;" for="id_Offer_File_Card_5"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Teklif 5 Dosyası seçin</span></label>
            
            </div>
            <div class="input-box"> 
              <span class="details">Maliyet Dosyası</span>
              <input type="file" name="M_File_Card" id="id_M_File_Card_1" class="inputfile inputfile-2"/>
              <label for="id_M_File_Card_1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Maliyet 1 Dosyası seçin</span></label>            
              <input type="file" name="M_File_Card_2" id="id_M_File_Card_2" class="inputfile inputfile-2"/>
              <label style="display: none;" for="id_M_File_Card_2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Maliyet 2 Dosyası seçin</span></label>            
              <input type="file" name="M_File_Card_3" id="id_M_File_Card_3" class="inputfile inputfile-2"/>
              <label style="display: none;" for="id_M_File_Card_3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Maliyet 3 Dosyası seçin</span></label>            
              
            </div>
            
          </div>
          <div class="button">
            <input id="project-create-btn" type="submit" value="Satış Teklifi Ekle" />
          </div>
        </form>
      </div>

      <div class="window clientFirmaAddWindow">
        <div class="container">
          <h3 id="clientFirmaAdd-modal" class="modal-kapat">X</h3>
          <div class="title">Firma Ekle</div>
          <form action="{% url 'sales_offer_add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="client_form" />

            <div class="user-details">
              <div class="input-box" name="CompanyName_Clients">
                <span class="details">Firma Adı</span>
                {{ client_form.CompanyName_Clients }}
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Kaydet" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block js_files %} 
  <!-- <script src="{% static 'project_add.js' %}"></script>  -->

  <!--   Elements    -->
  <script>
    let isBedeliInput = document.querySelector("#id_Cost_NotIncludingKDV_Card");
    let birimBasiMaliyetInput = document.querySelector("#id_UnitCost_NotIncludingKDV");
    let acGucInput = document.querySelector("#id_AC_Power_Card");
    let dcGucInput = document.querySelector("#id_DC_Power_Card");
    let araziBedeli = document.querySelector("#id_Roof_Cost_Card");
    var amountInputReformatBtn = document.querySelector("#project-create-btn");
    var form = document.querySelector("#my-form");
    var teklifBedeliInput = document.querySelector(
      "#id_Offer_Cost_NotIncludingKDV_Card"
    );
    var birimTeklifInput = document.querySelector(
      "#id_UnitOffer_NotIncludingKDV"
    );
   

  </script>

   <!-- Firma Add button -->
  <script>   

    document.addEventListener("DOMContentLoaded", function () {
      var firmaAddBtn = document.getElementById("paying-firma-add-btn");
      var clientFirmaAddWindow = document.querySelector(
        ".clientFirmaAddWindow"
      );

      firmaAddBtn.addEventListener("click", function () {
        clientFirmaAddWindow.style.display = "flex";
      });

      var clientFirmaAddModal = document.getElementById("clientFirmaAdd-modal");
      clientFirmaAddModal.addEventListener("click", function () {
        clientFirmaAddWindow.style.display = "none";
      });
    });
    // Drop Boxes

    document.addEventListener("DOMContentLoaded", function () {
      const inputs = document.querySelectorAll(".myInput");
    
      inputs.forEach((input) => {
        const dropdownId = input.getAttribute("data-dropdown");
        //Düzenlenecek
        const dropdown = document.getElementById(dropdownId);
        const dropdownItems = dropdown.querySelectorAll(".dropdown-item");
    
        input.addEventListener("focus", function () {
          dropdown.classList.add("show");
        });
    
        input.addEventListener("blur", function () {
          setTimeout(() => {
            dropdown.classList.remove("show");
          }, 200);
        });
    
        input.addEventListener("input", function () {
          const filterText = input.value.toLowerCase();
    
          dropdownItems.forEach((item) => {
            const itemText = item.textContent.toLowerCase();
            if (itemText.startsWith(filterText)) {
              item.style.display = "block";
            } else {
              item.style.display = "none";
            }
          });
        });
    
        dropdownItems.forEach((item) => {
          item.addEventListener("click", function () {
            const selectedClientId = this.getAttribute("value"); // Seçilen müşterinin ID'sini al
            input.value = this.textContent; // Sadece text content'i inputa ata
            input.setAttribute("data-selected-client-id", selectedClientId); // ID'yi bir data attribute olarak sakla
    
            dropdown.classList.remove("show");
          });
        });
      });
    });
    

    // Noktalamalar
 
    runEventListeners(isBedeliInput);
    runEventListeners(birimBasiMaliyetInput);
    runEventListeners(acGucInput);
    runEventListeners(dcGucInput);
    runEventListeners(birimTeklifInput);
    runEventListeners(teklifBedeliInput);
    runEventListeners(araziBedeli);


    function runEventListeners(input) {
      input.addEventListener("input", function (event) {
        var inputValue = event.target.value;
        var clearValue = clear(inputValue);
        var formatValue = format(clearValue);
        input.value = formatValue;
        deger = formatValue;
      });
    }
    function clear(value) {
      
      if (value != undefined) {
        var cleanString = value.replace(/[^0-9.]/g, "");
        return cleanString;
      } else {
        var cleanString = 0;
        return cleanString;
      }
    }

    function format(number) {
      var indexOfDot = number.indexOf(".");

      if (indexOfDot !== -1) {
        var integerPart = number
          .slice(0, indexOfDot)
          .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        var decimalPart = number.slice(indexOfDot + 1);
        return integerPart + "." + decimalPart;
      } else {
        var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return formattedNumber;
      }
    }

                    // Form Gönderme
    var i1 = document.querySelector("#id_Client_Card_Copy");
    var i2 = document.querySelector("#id_Person_Deal");
    var i3 = document.querySelector("#id_Location_Card");
    var s1 = document.querySelector("#firma_adi_span");
    var s2 = document.querySelector("#ilgilenen_kisi_span");
    var s3 = document.querySelector("#konum_span");
    var submitBool = true;
    var x = true;
    var x1 = true;
    var x2 = true;
    amountInputReformatBtn.addEventListener("click", function(event) {
      event.preventDefault();
      if(i1.value == ""){
        s1.style.color = "red";
        s1.style.fontWeight = "700";
        x = false;
      }
      else{
        s1.style.color = "black";
        s1.style.fontWeight = "500";
        x = true;
      }
      if(i2.value == ""){
        s2.style.color = "red";
        s2.style.fontWeight = "700";
        x1 = false;
      }
      else{
        s2.style.color = "black";
        s2.style.fontWeight = "500";
        x1 = true;
      }
      if(i3.value == ""){
        s3.style.color = "red";
        s3.style.fontWeight = "700";
        x2 = false;
      }
      else{
        s3.style.color = "black";
        s3.style.fontWeight = "500";
        x2 = true;
      }
      
      if(x && x1 && x2){
      inputField.value = tarihFormat(inputField.value);
      isBedeliInput.value = clear(isBedeliInput.value);
      birimBasiMaliyetInput.value = clear(birimBasiMaliyetInput.value);
      acGucInput.value = clear(acGucInput.value);
      dcGucInput.value = clear(dcGucInput.value);
      birimTeklifInput.value = clear(birimTeklifInput.value);
      teklifBedeliInput.value = clear(teklifBedeliInput.value);
      araziBedeli.value = clear(araziBedeli.value);
      form.submit();
      }

    });   
    
    function tarihFormat(tarih) {
      if(tarih.length == 10){
        var parcalar = tarih.split('.');

    var gun = parcalar[0];
    var ay = parcalar[1];
    var yil = parcalar[2];

    var yeniFormat = yil + '-' + ay + '-' + gun;

    return yeniFormat;
      }
      else{
        return "";
      }
    
}
  </script>

  <!-- Select File -->
<script>
'use strict';

document.addEventListener('DOMContentLoaded', function () {
    var inputs = document.querySelectorAll('.inputfile-1');

    Array.prototype.forEach.call(inputs, function (input, index) {
        var label = input.nextElementSibling;
        var nextLabel = inputs[index + 1] ? inputs[index + 1].nextElementSibling : null;

        input.addEventListener('change', function () {
            if (index < inputs.length - 1 && nextLabel) {
                nextLabel.style.display = 'inline-block';
                inputs[index + 1].style.display = 'inline-block';
            }
        });

        input.addEventListener('change', function (e) {
            var label = input.nextElementSibling,
                labelVal = label.innerHTML;

            var fileName = '';
            if (input.files && input.files.length > 1)
                fileName = (input.getAttribute('data-multiple-caption') || '').replace('{count}', input.files.length);
            else
                fileName = e.target.value.split('\\').pop();

            if (fileName) {
                label.querySelector('span').innerHTML = fileName;
            } else {
                var defaultText = 'Teklif&nbsp;' + (index + 1) + ' Dosyası seçin'; // Özel metni oluştur
                label.querySelector('span').innerHTML = defaultText; // Etiketi güncelle   Teklif 1 Dosyası
            }
        });

        // Check if the input initially has a file selected
        if (input.files && input.files.length > 0 && nextLabel) {
                nextLabel.style.display = 'inline-block';
                inputs[index + 1].style.display = 'inline-block';
            } else {
                // Sayfa yüklendiğinde dosya adı varsa ve farklıysa labelı görünür yap
                var defaultText = 'Teklif ' + (index + 1) + ' Dosyası seçin';
                var fileName = label.querySelector('span').textContent;
                if (fileName !== defaultText) {
                    label.style.display = 'inline-block';
                }
            }
    });
});



</script>
<script>
  'use strict';
  
  document.addEventListener('DOMContentLoaded', function () {
      var inputs = document.querySelectorAll('.inputfile-2');
  
      Array.prototype.forEach.call(inputs, function (input, index) {
          var label = input.nextElementSibling;
          var nextLabel = inputs[index + 1] ? inputs[index + 1].nextElementSibling : null;
  
          input.addEventListener('change', function () {
              if (index < inputs.length - 1 && nextLabel) {
                  nextLabel.style.display = 'inline-block';
                  inputs[index + 1].style.display = 'inline-block';
              }
          });
  
          input.addEventListener('change', function (e) {
              var label = input.nextElementSibling,
                  labelVal = label.innerHTML;
  
              var fileName = '';
              if (input.files && input.files.length > 1)
                  fileName = (input.getAttribute('data-multiple-caption') || '').replace('{count}', input.files.length);
              else
                  fileName = e.target.value.split('\\').pop();
  
              if (fileName) {
                label.querySelector('span').innerHTML = fileName;
            } else {
                var defaultText = 'Maliyet ' + (index + 1) + ' Dosyası seçin'; // Özel metni oluştur
                label.querySelector('span').innerHTML = defaultText; // Etiketi güncelle   M1 Dosyası seçin
            }
          });
  
          // Check if the input initially has a file selected
          if (input.files && input.files.length > 0 && nextLabel) {
                nextLabel.style.display = 'inline-block';
                inputs[index + 1].style.display = 'inline-block';
            } else {
                // Sayfa yüklendiğinde dosya adı varsa ve farklıysa labelı görünür yap
                var defaultText = 'Maliyet ' + (index + 1) + ' Dosyası seçin';
                var fileName = label.querySelector('span').textContent;
                if (fileName !== defaultText) {
                    label.style.display = 'inline-block';
                }
            }
      });
  });
  
  </script>
  <!-- Arazi çatı script -->
<script>
        var mySelect = document.getElementById("id_Terrain_Roof_Card");
        var araziBedeliInput = document.querySelector("#id_Roof_Cost_Card");
        var araziSpan = document.querySelector(".arazi-span");
        document.addEventListener('DOMContentLoaded', function () {
        //const chekLastDateBox = document.getElementById('id_Terrain_Roof_Card1');
        mySelect.addEventListener('change', function(){
          var selectedIndex = mySelect.selectedIndex;
          var selectedText = mySelect.options[selectedIndex].text;
        

        if (selectedText=="Arazi") {
          araziBedeliInput.style.display = "block";
          araziSpan.style.display = "block";
        } else {
          araziBedeliInput.style.display = "none";
          araziSpan.style.display = "none";
        }
        });

        });
</script>
<!-- Tarih input -->
<script>
 var inputField = document.querySelector("#tarih");
      

   inputField.addEventListener('input', function(event) {
   var userInput = inputField.value;
  
  if (event.inputType !== 'deleteContentBackward') {
    inputField.value = formatDate(userInput);
  }
});


 function formatDate(date) {
  var cleaned = date.replace(/[^\d+]/g, '');
  var formatted = cleaned;
  var current;
  var day = "31";
  var month = "12";
  var year = "2999";
    
    inputField.maxLength = 10;
      if(formatted.length < 3) {
        if(formatted < day){
          return formatted;
        }
        else{
          return "31";
        }        
      }
      if (formatted.length < 5) {
        if(formatted.slice(2) < month){
          return `${formatted.slice(0,2)}.${formatted.slice(2)}`;  
        }
        else{
          return `${formatted.slice(0,2)}.12`
        }                  
      }
      if (formatted.length < 10) {
        if(formatted.slice(4) < year){
          return `${formatted.slice(0,2)}.${formatted.slice(2,4)}.${formatted.slice(4)}`; 
        }
        else{
          return `${formatted.slice(0,2)}.${formatted.slice(2,4)}.2999`;
        } 
                  
      }  
}
</script>

  {% endblock %} 
</div>
