{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'tedarikcii.css' %}">
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'sec-inputs.css' %}">

    <style>
#table thead{        
  position: sticky;
  top: 0;
}
.lists th:not(:nth-child(1)){
    width: 19%;
}
  table thead th {
  cursor: pointer;
}
  table thead th span{
  position: relative;
}
thead th span::after{
  content: '';
  position:absolute;
  left: -18px;
  top: 60%;
  border-style: solid;
  border-top-width: 10px;
  border-right-width: 5px;
  border-left-width: 5px;
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
    </style>
{% endblock %}
    {% block title %} Supplier {% endblock %}
    {% block content %}
  <div class="body-div">
    <div class="window tedarikciWindow">
      <div class="container">
          <h3 id="tedarikci-modal" class="modal-kapat">X</h3>
          <div class="title">Tedarikci Ekle</div>
          <form id="myForm" action="{% url 'supplier' %}" method="post">
            {% csrf_token %}
            <div class="user-details"> 
                <div class="input-box" name="CompanyName_Supplier">
                  <span id="firma_adi_span" class="details">Firma Adı*</span>
                  {{ supplier_form.CompanyName_Supplier }}
                  {% if supplier_form.CompanyName_Supplier.errors %}
                  <div class="error-container">
                      <span class="error-triangle"></span>
                      <ul class="errorlist">
                          {% for error in supplier_form.CompanyName_Supplier.errors %}
                              <li class="error-message">{{ error }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}                 
                </div>    
                <div class="input-box" name="ContactPerson">
                  <span class="details">Muhatap</span>
                  {{ supplier_form.ContactPerson }}
                </div>  
                <div class="input-box" name="PhoneNumber">
                  <span class="details">Telefon</span>
                  {{ supplier_form.PhoneNumber }}
                </div>    
                <div class="input-box" name="Email">
                  <span class="details">E-posta</span>
                  {{ supplier_form.Email }}
                </div>    
                <div class="input-box" name="Location">
                  <span class="details">Bölge</span>
                  <div class="dropdown-container">
                    <input autocomplete= 'off' value="{{supplier_edit.Location}}" type="text" id="id_Location" name="Location" class="myInput" placeholder="Bölge Seçiniz" data-dropdown="dropdown1">
                  <div id="dropdown1" class="dropdown-content">
                        {% for x in locations %}
                            <span value="{{x.id}}" class="dropdown-item">{{x.Location}}</span>
                        {% endfor %}
                  </div>
                </div>
                </div>          
              </div>
              <div class="button">
                  <input id="kaydet_btn" type="submit" value="Kaydet"/>
              </div>
          </form>
          {% for error in supplier_form.non_field_errors %}
           <p style="color: red;">hata{{ error }}</p>
          {% endfor %}
      </div>
  </div>

  {% include 'partials/_left_nav_bar.html' %}
      <div class="right-menu"> 
        <div class="top-menu">
          <span>TEDARİKÇİLER</span>
          <div class="content">                      
            <div class="search">
              <div class="icon"></div>
              <div class="input">
                <input id="mysearch" type="text" placeholder="Ara">
            </div>
            <span class="clear" onclick="document.getElementById('mysearch').value = '' "></span>
         </div> 
            <button id="tedarikci-ac" class="button2" >Tedarikçi Ekle</button>          
          </div>
        </div>

        <div class="lists">         
          <table id="table" class="table table-sortable">   
            <thead>
              <th></th>
              <th><span>Firma Adı</span></th>
              <th scope="col"><span>Muhatap</span></th>
              <th scope="col"><span>Telefon</span></th>
              <th scope="col"><span>E-posta</span></th>
              <th scope="col"><span>Bölge</span></th>
            </thead>  
            <tbody id="tbody">  
              {% for sup in supplier %}
              <tr>
                  <td><button type="button" class="edit-supplier-btn button2" style= "background: none; border:none;"><a href= "{% url 'supplier_edit' supplier_name=sup.CompanyName_Supplier %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></button></td>
                  <td>{{ sup.CompanyName_Supplier }} </td>
                  <td>{{ sup.ContactPerson }}</td>
                  <td>{{ sup.PhoneNumber }} </td>
                  <td>{{ sup.Email }}</td>
                  <td>{{ sup.Location }}</td>
              </tr>
              {% endfor %}                                    
            </tbody>
          </table>      
        </div>
      </div>   
  </div>
  {% endblock %}
{% block js_files %} 
<script src="{% static 'supplier.js' %}"></script> 
<script src="{% static 'functions.js' %}"></script> 
{% endblock %}
